
<link rel="stylesheet" type="text/css" href="static/js/lib/vaRecorder/css/virecorder.css">
<md-content class="md-padding">
<div layout="row" layout-align="center center">
    
    <div flex="40">
        <h1>Videos</h1>
        <ngcamcecorder configuration="camconfiguration"></ngcamcecorder>
        
  <video controls width="123" height="123">
      <source src="{{videoPaths}}" type='video/webm; codecs="vp8, vorbis"'>
</video>
        <!--<md-button ng-show="!videoready" class="md-primary" ng-click = "camconfiguration.init()" >Empezar Grabaci&oacute;n</md-button>-->
       <!-- <img ng-src="{{camconfiguration.output.recordingthumb}}" />-->
    </div>
    <div flex="40" >

         <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>Videos Enviados</span>
        </h2>
      </div>
    </md-toolbar>
         <md-content class="border" style="height: 250px">
                <section>
                    <md-list ng-repeat="vr  in receivedvideos">
                        <md-list-item ng-click="null" >
                            <p>
                                {{vr.createDate}}
                            </p>
                            <md-button aria-label="play" class="md-fab md-mini md-primary" ng-click="playVideo(vr.videoPath)">
                                <md-tooltip md-direction="left" md-visible="tooltipVisible">Play Video</md-tooltip>
                                <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>
                            </md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </section>

            </md-content>
          <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>Videos Recibidos</span>
        </h2>
      </div>
    </md-toolbar>
         <md-content class="border" style="height: 250px">
                <section>
                    <md-list ng-repeat="vr  in receivedvideos">
                        <md-list-item ng-click="null" >
                            <p>
                                {{vr.createDate}}
                            </p>
                            <md-button aria-label="play" class="md-fab md-mini md-primary" ng-click="playVideo(vr.videoPath)">
                                <md-tooltip md-direction="left" md-visible="tooltipVisible">Play Video</md-tooltip>
                                <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>
                            </md-button>
                        </md-list-item>
                         <md-divider></md-divider>
                    </md-list>
                </section>

            </md-content>
    </div>

</div>
</md-content>
