<md-content ng-controller="MessageCoachController" ng-cloak style="margin: 2%;">
    <div flex layout="row" layout-align="center">
        <div layout="column" flex="40">
            <md-card style="min-height:550px">
                <md-card-content>
                        <span class="cpt-title">MENSAJES</span>
                 
                    <br />
                    <md-divider></md-divider>
                    <br /> 
                    <md-list  flex>
                        <md-list-item class="md-3-line">
                            <div class="rectangule1"></div>
                            <img data-ng-src="{{athleteImage}}"  class="md-avatar">
                            <div class="md-list-item-text">
                                <h3 style="font-weight: bold; color: #0064F8">{{planSelected.athleteUserId.fullName}}</h3>
                                <h3 style="color: #0064F8">Atleta</h3>
                                <p style="color: #000">Mensajes disponibles {{availableMessage}} de {{messageCount}}</p>
                            </div>
                            <div ng-if="receivedMessage > 0" class="circle_notification">{{receivedMessage}}</div>
                        </md-list-item>
                    </md-list> 
                </md-card-content>
            </md-card>
        </div>
        <div flex="75" layout="column"  layout-align="space-between none">
            <div layout="row" layout-align="center">
                <h3 style="text-transform: capitalize">{{planSelected.athleteUserId.fullName}}
                    <img src="static/img/circle_chat.png" style="width: 12px; height: 12px;"></h3>
            </div>
            <md-divider></md-divider>
            <br />
            <div layout="column" style="max-height:420px; min-height: 400px" flex>
                <md-content style="overflow-x: hidden;" scroll-glue="glued">
                    <div layout="column" layout-align="center center" flex ng-if="loading">
                        <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                        <span>Cargando mensajes..</span>
                    </div>
                    <div layout="column" ng-repeat="message in messages| orderBy:'creationDate':false" >
                        <div ng-class="userSession.userId == message.messageUserId.userId ? 'bubble you' : 'bubble me'">
                            <p ng-class="{self: message.self}">
                                {{message.message}}
                            </p>
                            <span class="msgTime md-caption">{{message.creationDate | date:'dd/MM/yyyy  hh:mm:ss'}}</span>
                           
                        </div>
                    </div>
                </md-content>
            </div>
            <md-divider></md-divider>
            <br />
            <div flex layout="column" >
                <form ng-submit="sendMessage()" name="messageForm">
                    <section layout="row" style="background: #FFFFFF" layout-sm="column" layout-wrap>
                        <div flex>
                            <md-input-container class="md-block" >
                                <input type="text" placeholder="Escribe un mensaje" ng-model="planMessage.message" />
                            </md-input-container>
                        </div>
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="sendMessage()" ng-disabled="planMessage.message.length === 0">
                            <md-icon md-menu-origin>
                                <img src="static/img/send_chat.png">
                            </md-icon>
                        </md-button>
                    </section>
                </form>
            </div>
        </div>
    </div>

</md-content>

