<md-content layout-padding>
    <div layout="row" layout-align="center" style="margin-top: 3%">
        <div flex="50" layout="column"  layout-align="space-between none" class="demo-content" schroll-bottom="messages">
            <div layout="column" style="height:550px" id="message-content">
                <md-toolbar md-scroll-shrink>
                    <div class="md-toolbar-tools">
                        <h3>
                            <span>Mensajes</span>
                        </h3>
                    </div>
                </md-toolbar>
                <md-content >
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="message in messages| orderBy:'creationDate':false" ng-click="null">
                            <img data-ng-src="{{message.messageUserId.profilePhotoBase64}}" alt="{{message.messageUserId.login}}" class="md-avatar">
                            <div class="md-list-item-text">

                                <h3>{{message.messageUserId.login}}</h3>
                                <p ng-class="{self: message.self}">
                                    {{message.message}}
                                </p>
                            </div>
                             
                                <time class="md-secondary">{{message.creationDate}}</time>
                           
                            <md-divider inset></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
            <br />
            <md-divider></md-divider>
            <div flex layout="column">
                <fieldset>
            <form ng-submit="addMessage()" name="messageForm">
                 <section layout="row" layout-sm="column" layout-wrap>
                     <div flex="90">
                   <md-input-container class="md-block" >
                <input type="text" placeholder="Escriba aqu&iacute;..." ng-model="planMessage.message" />
                   </md-input-container>
                     </div>
                     <div >
                    <!--<span class="count" ng-bind="max - planMessage.message.length" ng-class="{danger: planMessage.message.length > max}">140</span>
                    <button ng-disabled="planMessage.message.length > max || planMessage.message.length === 0">Enviar</button>-->
                    <md-button ng-click="addMessage()" ng-disabled="planMessage.message.length === 0" class="md-raised md-primary">Enviar</md-button>
                     </div>
                 </section>
            </form>
                </fieldset>
            </div>
        </div>
        <div flex="20" layout="column"  style="margin-top:  0px">
            <md-card layout-align="center">
                <md-card-content layout="row" layout-align="center" style="height: 500px;">
                    <div layout="column">
                        <img data-ng-src="{{dataImage}}" class="circular" data-err-src="static/img/profile-default.png" style="height: 200px; width: 200px;"/> 
                     <label >{{userChat}}</label>
                    </div>
                </md-card-content>
                
                <md-card-title>
                </md-card-title>
            </md-card>
        </div>

    </div>


</md-content>
