<div layout="column" layout-align="center">

    <md-button title="{{ 'CREATE' | translate }}" class="md-raised md-primary" ng-click="dialogEmail()">Redactar</md-button>
     <md-list-item class="item-small" ng-click="verRecibidos()">

         <div class="md-list-item-text" >
             <p ng-class="{boldText: recibidos===true}">Recibidos ({{mailsReceived.length}})</p>
         </div>
     
     </md-list-item>
          <md-list-item class="item-small" ng-click="verEnviados()">

         <div class="md-list-item-text">
             <p ng-class="{boldText: enviados===true}">Enviados ({{mailsSent.length}})</p>
         </div>
 
     </md-list-item>
</div>