<div layout="column" class="border" style="height: 600px">
    <div flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Bandeja de entrada</span>
                </h3>
            </div>
        </md-toolbar>
        <md-content>
            <div layout="row" layout-align="center">
            <md-button title="{{ 'CREATE' | translate }}" style="width: 200px" class="md-raised md-primary" ng-click="dialogEmail()">Escribir un mail</md-button>
            </div>
            <md-list class="md-dense" flex>
                <md-list-item  ng-click="verRecibidos()" class="md-2-line" ng-class="{selectedIndex: recibidos === true}">
                    <i class="fa fa-inbox" aria-hidden="true"></i>
                    <div class="md-list-item-text" >
                        <h3>&nbsp; Bandeja de entrada ({{mailsReceived.length}})</h3>
                    </div>
                </md-list-item>
                <md-list-item ng-click="verEnviados()" class="md-2-line" ng-class="{selectedIndex: enviados === true}">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <div class="md-list-item-text">
                        <h3>&nbsp; Mails enviados ({{mailsSent.length}})</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <div flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Contactos</span>
                </h2>
            </div>
        </md-toolbar>
        <md-content>
            <md-list class="md-dense" flex>
                <md-list-item ng-if="userSession.planSelected.starUserId != null" class="md-3-line"  ng-click="getEmailByRole(userSessionTypeUserCoachEstrella)" ng-class="{selectedIndex: roleSelected == userSessionTypeUserCoachEstrella}">
                    <img data-ng-src="{{userSession.planSelected.starUserId.profilePhotoBase64}}"  class="md-avatar">
                    <div class="md-list-item-text">
                        <h3 style="font-weight: bold;">{{userSession.planSelected.starUserId.fullName}}</h3>
                        <h4>Estrella</h4>
                        <p>Mails disponibles {{availableMailStar}} de {{mailCountStar}}</p>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line" ng-click="getEmailByRole(userSessionTypeUserCoachInterno)" ng-class="{selectedIndex: roleSelected == userSessionTypeUserCoachInterno}">
                    <img data-ng-src="{{userSession.planSelected.coachUserId.profilePhotoBase64}}"  class="md-avatar">
                    <div class="md-list-item-text">
                        <h3 style="font-weight: bold;">{{userSession.planSelected.coachUserId.fullName}}</h3>
                        <h4>Supervisor</h4>
                        <p>Mails  disponibles {{availableMailSup}} de {{mailCountSup}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>