<div layout="row" layout-align="center" style="margin-top: 3%">
    <div flex="25" ng-if="userSession.typeUser == userSessionTypeUserCoach || userSession.typeUser == userSessionTypeUserCoachInterno || userSession.typeUser == userSessionTypeUserCoachEstrella">
        <div  ng-include src="'static/views/dashboard/tabsDashboard.html'"></div>
    </div>

    <div flex="25" ng-if="userSession.typeUser == userSessionTypeUserSupervisor">
        <div  ng-include src="'static/views/dashboard/tabsDashboardSupervisor.html'"></div>
    </div>
    <div flex="70" layout="column"  layout-align="space-between none" class="demo-content">
        <div layout="column" style="height:800px" id="message-content">
            <md-toolbar >
                <div class="md-toolbar-tools">
                    <h3>
                        <span>{{ 'INBOX' | translate }}</span>
                    </h3>
                    <span flex></span>
                    <md-button class="md-primary" title="{{ 'CREATE' | translate }}" ng-click="showCreate()" 
                               ng-style="{'color':'white', 'font-size':'20px', 'height':'20px', 'min-width': '35px'}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </md-button>
                </div>

                <div class="md-toolbar-tools" ng-hide="mailSelected.mailCommunicationId != null || create">
                    <h3>
                        <span>{{ 'RECEIVED' | translate }}</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-content style="overflow-x: hidden;" scroll-glue="glued">
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="mail in mailsReceived| orderBy:'creationDate':true" ng-hide="mailSelected.mailCommunicationId != null || create"
                                  ng-click="selectReceivedMail(mail.mailCommunicationId)">

                        <div ng-style="{{mail.colour}}" class="colour" ng-if="tabIndex == 1 || tabIndex == 2"></div>

                        <div class="md-list-item-text" style="margin-left: 1%" ng-if="mail.read">

                            <h3>{{ 'FROM' | translate }}: {{mail.sendingUser.name}} {{mail.sendingUser.secondName}} {{mail.sendingUser.lastName}}</h3>
                            {{ 'SUBJECT' | translate }}: {{mail.subject}}
                        </div>
                        <div class="md-list-item-text" style="margin-left: 1%;font-weight: bold" ng-if="mail.read == false">

                            <h3 style="font-weight: bold" >{{ 'FROM' | translate }}: {{mail.sendingUser.name}} {{mail.sendingUser.secondName}} {{mail.sendingUser.lastName}}</h3>
                            {{ 'SUBJECT' | translate }}: {{mail.subject}}
                        </div>

                        <md-subheader>{{mail.creationDate}}</md-subheader>

                        <md-divider md-inset ></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
            <md-toolbar ng-hide="mailSelected.mailCommunicationId != null || create">                    
                <div class="md-toolbar-tools">
                    <h3>
                        <span>{{ 'SENT' | translate }}</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-content style="overflow-x: hidden;" scroll-glue="glued">
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="mail in mailsSent| orderBy:'creationDate':true" ng-hide="mailSelected.mailCommunicationId != null || create"
                                  ng-click="selectSentMail(mail.mailCommunicationId)">
                        <div class="md-list-item-text"  >

                            <h3>{{ 'TO' | translate }}: {{mail.receivingUser.name}} {{mail.receivingUser.secondName}} {{mail.receivingUser.lastName}}</h3>
                            {{ 'SUBJECT' | translate }}: {{mail.subject}}
                        </div>

                        <md-subheader>{{mail.creationDate}}</md-subheader>

                        <md-divider md-inset ></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
            <md-content style="overflow-x: hidden;" scroll-glue="glued" ng-hide="mailSelected.mailCommunicationId == null" ng-show="create">

                <section layout="row" layout-sm="column" layout-wrap>
                    <div flex="90"  ng-hide="create || received == false" ng-show="received">
                        <md-input-container class="md-block" >
                            {{ 'DATE' | translate }}: {{mailSelected.creationDate}} <br>
                            {{ 'FROM' | translate }}: {{mailSelected.sendingUser.name}} {{mailSelected.sendingUser.secondName}} {{mailSelected.sendingUser.lastName}} <br>
                            {{ 'SUBJECT' | translate }}: {{mailSelected.subject}} <br>

                        </md-input-container>
                        <md-input-container>
                            {{mailSelected.message}}
                        </md-input-container>
                    </div>
                </section>

                <section layout="row" layout-sm="column" layout-wrap>
                    <div flex="90"  ng-hide="create || received">
                        <md-input-container class="md-block" >
                            {{ 'DATE' | translate }}: {{mailSelected.creationDate}} <br>
                            {{ 'TO' | translate }}: {{mailSelected.receivingUser.name}} {{mailSelected.receivingUser.secondName}} {{mailSelected.receivingUser.lastName}} <br>
                            {{ 'SUBJECT' | translate }}: {{mailSelected.subject}} <br>

                        </md-input-container>
                        <md-input-container>
                            {{mailSelected.message}}
                        </md-input-container>
                    </div>
                </section>

                <br>    
                <md-divider md-inset ></md-divider>
                <div flex layout="column" style="border: 1px solid #e1e1e1; " ng-show="received || (create && received == false)">
                    <form ng-submit="addMail()" name="mailForm">
                        <section layout="row" layout-sm="column" layout-wrap>
                            <div flex="90">
                                <!-- Destinatario atletas cuando user == Coach Ext - Int-->
                                <md-input-container  md-no-float class="md-block" ng-show="create && tabIndex == 0" ng-if="userSession.typeUser == userSessionTypeUserCoach || userSession.typeUser == userSessionTypeUserCoachInterno">
                                    <label>{{ 'RECEIVER_USER' | translate }}</label>
                                
                                    <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.athleteUserId.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, athletes, 'athleteUserId.fullName')" 
                                        md-min-length="0"
                                        md-item-text="item.athleteUserId.fullName"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.athleteUserId.fullName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>

                                </md-input-container>
                                
                                <!-- Destinatario atletas cuando user == Coach Estrella-->
                                <md-input-container  md-no-float class="md-block" ng-show="create && tabIndex == 0" ng-if="userSession.typeUser == userSessionTypeUserCoachEstrella">
                                    <label>{{ 'RECEIVER_USER' | translate }}</label>
                                
                                    <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.athleteUserId.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, athletes, 'athleteUserId.fullName')" 
                                        md-min-length="0"
                                        md-item-text="item.athleteUserId.fullName"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.athleteUserId.fullName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>

                                </md-input-container>


                                <!-- Destinatario estrellas cuando user == Coach Int-->
                                <md-input-container ng-if="userSession.typeUser == userSessionTypeUserCoach || userSession.typeUser == userSessionTypeUserCoachInterno " md-no-float class="md-block" ng-show="create && tabIndex == 1" >
                                    <label>{{ 'RECEIVER_USER' | translate }}</label>

                                    <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.starUserId.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, athletes, 'starUserId.fullName')" 
                                        md-min-length="0"
                                        md-item-text="item.starUserId.fullName"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.starUserId.fullName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>
                                </md-input-container>
                                
                                <!-- Destinatario coaches cuando user == Coach Estrella-->
                                <md-input-container ng-if="userSession.typeUser == userSessionTypeUserCoachEstrella" md-no-float class="md-block" ng-show="create && tabIndex == 1" >
                                    <label>{{ 'RECEIVER_USER' | translate }}</label>

                                    <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.coachUserId.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, athletes, 'coachUserId.fullName')" 
                                        md-min-length="0"
                                        md-item-text="item.coachUserId.fullName"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.coachUserId.fullName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>
                                </md-input-container>


                                <!-- Destinatario supervisores cuando user == Coach Int-->
                                <md-input-container md-no-float class="md-block" ng-show="create && tabIndex == 2" ng-if="userSession.typeUser == userSessionTypeUserCoachInterno" >
                                    <label>{{ 'RECEIVER_USER' | translate }}</label>
                                    
                                    <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.supervisorId.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, supervisors, 'supervisorId.name + athletes.supervisorId.secondName + athletes.supervisorId.lastName')" 
                                        md-min-length="0"
                                        md-item-text="item.supervisorId.name.concat(' ').concat(item.supervisorId.secondName).concat(' ').concat(item.supervisorId.lastName)"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.supervisorId.name}} {{item.supervisorId.secondName}} {{item.supervisorId.lastName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>

                                </md-input-container>
                                
                                <!-- Destinatario todos cuando user == Coach Int y el tab seleccionado tiene index = 3-->
                                <md-input-container md-no-float class="md-block" ng-show="create && tabIndex == 3" >
                                        <label>{{ 'RECEIVER_USER' | translate }}</label>                                        
                                        <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, recipients, 'fullName')" 
                                        md-min-length="0"
                                        md-item-text="item.fullName"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.fullName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>
 
                                </md-input-container>
                                
                                <!-- Destinatario todos cuando user == Supervisor y el tab seleccionado tiene index = 0 e index2 = 0-->
                                <md-input-container md-no-float class="md-block" ng-if="userSession.typeUser == userSessionTypeUserSupervisor" ng-show="(create && tabIndex == 0 && tabIndex2 == 0) || (create && tabIndex == 1 && tabIndex2 == 1)" >
                                        <label>{{ 'RECEIVER_USER' | translate }}</label>                                        
                                    <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.coachUserId.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, supervisorUserAssignedList, 'coachUserId.fullName')" 
                                        md-min-length="0"
                                        md-item-text="item.coachUserId.fullName"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.coachUserId.fullName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>
 
                                </md-input-container>
                                
                                <!-- Destinatario todos cuando user == Supervisor y el tab seleccionado tiene index = 0 e index2 = 1-->
                                <md-input-container md-no-float class="md-block" ng-if="userSession.typeUser == userSessionTypeUserSupervisor" ng-show="create && tabIndex == 0 && tabIndex2 == 1" >
                                        <label>{{ 'RECEIVER_USER' | translate }}</label>                                        
                                    <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.starUserId.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, supervisorUserAssignedList, 'starUserId.fullName')" 
                                        md-min-length="0"
                                        md-item-text="item.starUserId.fullName"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.starUserId.fullName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>
 
                                </md-input-container>
                                
                                 <!-- Destinatario todos cuando user == Supervisor y el tab seleccionado tiene index = 0 e index2 = 1-->
                                <md-input-container md-no-float class="md-block" ng-if="userSession.typeUser == userSessionTypeUserSupervisor" ng-show="create && tabIndex == 1 && tabIndex2 == 0" >
                                        <label>{{ 'RECEIVER_USER' | translate }}</label>                                        
                                    <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.atleteUserId.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, supervisorUserAssignedList, 'atleteUserId.fullName')" 
                                        md-min-length="0"
                                        md-item-text="item.atleteUserId.fullName"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.atleteUserId.fullName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>
 
                                </md-input-container>
                                 
                                  <!-- Destinatario todos cuando user == Supervisor y el tab seleccionado tiene index = 3-->
                                <md-input-container md-no-float class="md-block" ng-if="userSession.typeUser == userSessionTypeUserSupervisor" ng-show="create && tabIndex == 2" >
                                        <label>{{ 'RECEIVER_USER' | translate }}</label>                                        
                                        <md-autocomplete 
                                        md-selected-item="receivingUserSelected" 
                                        md-selected-item-change="selectedItemChange(item.userId)"
                                        md-items="item in querySearchUsers(searchTextReceiverUser, recipients, 'fullName')" 
                                        md-min-length="0"
                                        md-item-text="item.fullName"
                                        md-search-text="searchTextReceiverUser">
                                        <md-item-template>
                                            <span md-highlight-text="searchTextReceiverUser" md-highlight-flags="^i">{{item.fullName}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No se encontraron resultados
                                        </md-not-found>
                                    </md-autocomplete>
 
                                </md-input-container>
                                    
                                <md-input-container class="md-block" >
                                    <input type="text" placeholder="{{ 'SUBJECT' | translate }}" ng-model="mailCommunication.subject" />
                                </md-input-container>
                                <md-input-container class="md-block" >
                                    <textarea placeholder="{{ 'WRITE_HERE' | translate }}" style="width: 100%;max-height: 150px;overflow-y: scroll"  rows="3" md-maxlength="1500" ng-model="mailCommunication.message" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>
                            <div>
                                <md-button ng-click="addMail()" class="md-raised md-primary">{{ 'SEND' | translate }}</md-button>
                            </div>
                        </section>
                    </form>
                </div>
            </md-content>
        </div>
        <br />    
    </div>

</div>