<div layout="column">
    <md-card style="height: 600px">
        <md-card-content>
            <div flex>
                <div layout="row" layout-align="center">
                    <md-button title="{{ 'CREATE' | translate }}" style="width: 250px; font-weight: bold" class="md-raised" ng-click="dialogEmail()">Escribir mensaje</md-button>
                </div>
                <md-list flex>
                    <md-list-item  ng-click="verRecibidos()" class="md-2-line"  ng-class="{selectedMail: recibidos === true}">
                        <img src="static/img/inbox.png"/>
                        <div class="md-list-item-text" >
                            <h3>&nbsp; Bandeja de entrada</h3>
                        </div>
                        <div ng-if="mailsReceived.length > 0" class=""><strong>{{mailsReceived.length}}</strong></div>
                    </md-list-item>
                    <md-list-item ng-click="verEnviados()" class="md-2-line" ng-class="{selectedMail: enviados === true}">
                        <img src="static/img/send_email.png"/>
                        <div class="md-list-item-text">
                            <h3>&nbsp; Mails enviados</h3>

                        </div>
                        <div ng-if="mailsSent.length > 0" class=""><strong>{{mailsSent.length}}</strong></div>
                    </md-list-item>
                </md-list>
            </div>
            <div flex >
                <h4 style="color: #0064F8; padding: 18px">
                    <span>CONTACTOS</span>
                </h4>

                <md-list flex>
                    <md-list-item ng-if="userSession.planSelected.starUserId != null" class="md-3-line"  ng-click="getEmailByRole(userSessionTypeUserCoachEstrella)">
                        <div class="rectangule1" ng-if="roleSelected == userSessionTypeUserCoachEstrella"></div>
                        <img data-ng-src="{{starImage}}"  class="md-avatar">
                        <div class="md-list-item-text">
                            <h3 style="font-weight: bold; color: #0064F8">{{userSession.planSelected.starUserId.fullName}}</h3>
                            <h3 style="color: #0064F8">Estrella</h3>
                            <p style="color: #000">Mails disponibles {{availableMailStar}} de {{mailCountStar}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-click="getEmailByRole(userSessionTypeUserCoachInterno)">
                        <div class="rectangule2" ng-if="roleSelected == userSessionTypeUserCoachInterno"></div>
                        <img data-ng-src="{{asesorImage}}"  class="md-avatar">
                        <div class="md-list-item-text">
                            <h3 style="font-weight: bold; color: #0064F8">{{userSession.planSelected.coachUserId.fullName}}</h3>
                            <h3 style="color: #0064F8">Asesor</h3>
                            <p style="color: #000">Mails  disponibles {{availableMailSup}} de {{mailCountSup}}</p>
                        </div>
                    </md-list-item>
                </md-list>

            </div>
        </md-card-content>
    </md-card>
</div>