
<md-content style="overflow-x: hidden;" scroll-glue="glued">
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="mail in mailsReceived| orderBy:'creationDate':true"
                      ng-click="selectReceivedMail(mail.mailCommunicationId)">
            <div ng-if="userSession.typeUser == userSessionTypeUserCoachInterno " ng-style="{{mail.colour}}" class="colour" ></div>

            <div class="md-list-item-text" style="margin-left: 1%" ng-if="mail.read">

                <h3>{{ 'FROM' | translate }}: {{mail.sendingUser.fullName}}</h3>
                {{ 'SUBJECT' | translate }}: {{mail.subject}}
            </div>
            <div class="md-list-item-text" style="margin-left: 1%;font-weight: bold" ng-if="mail.read == false">

                <h3 style="font-weight: bold" >{{ 'FROM' | translate }}: {{mail.sendingUser.fullName}}</h3>
                {{ 'SUBJECT' | translate }}: {{mail.subject}}
            </div>

            <md-subheader>{{mail.creationDate}}</md-subheader>

            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>