<div layout="row" layout-align="center" style="margin-top: 3%" ng-controller="ScriptController">
    <div flex="25" ng-if="userSession.typeUser == userSessionTypeUserCoachEstrella">
        <div  ng-include src="'static/views/script/tabsStar.html'"></div>
    </div>

    <div flex="70" layout="column"  layout-align="space-between none" class="demo-content">
        <div layout="column" style="height:800px">
            <div layout="row"> 
                <md-input-container class="md-block" >
                    <label>Gui&oacute;n</label>
                    <textarea md-maxlength="500" ng-model="planVideo.guion" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <div layout="row"> 
                <md-content style="overflow-x: hidden;width: 100%;height: 100%;" scroll-glue="glued">
                    <video ng-show="isRecord" id="gum" style="background-color: #000;border: 2px solid #fff;width: 50%;height: 50%;" autoplay muted></video>
                    <video ng-show="!isRecord" style="background-color: #000;border: 2px solid #fff;width: 50%;height: 50%;" id="recorded" autoplay loop  controls ></video>

                    <div>
                        <md-button style="{{colorGrabacion}}" ng-click="inicioGrabarVideo()" class="fa fa-video-camera fa-lg md-fab md-mini md-primary md-button ng-scope md-ink-ripple" type="button" ng-transclude="" aria-label="play" style="">
                            <div class="md-ripple-container"></div>
                        </md-button>
                        <md-button class="fa fa-stop fa-lg md-fab md-mini md-primary md-button ng-scope md-ink-ripple" 
                                   type="button" ng-transclude="" aria-label="play" 
                                   ng-click="stopVideo()" style="">
                            <div class="md-ripple-container"></div>
                            <md-tooltip md-direction="right" md-visible="tooltipVisible">Parar Video</md-tooltip>
                        </md-button>
                        <md-button class="fa fa fa-play fa-lg md-fab md-mini md-primary md-button ng-scope md-ink-ripple" type="button" ng-transclude="" 
                                   aria-label="play" ng-click="verVideoGrabado()" style="">
                            <div class="md-ripple-container"></div>
                            <md-tooltip md-direction="right" md-visible="tooltipVisible">Ver Video</md-tooltip>
                        </md-button>

                        <md-button class="fa fa-upload fa-lg md-fab md-mini md-primary md-button ng-scope md-ink-ripple" 
                                   type="button" ng-transclude="" aria-label="play" 
                                   ng-click="enviarVideoToCoach()" ng-class="videoisavailabletoplay ? 'canuploadvideo' : ''" style="">
                            <div class="md-ripple-container"></div>
                            <md-tooltip md-direction="right" md-visible="tooltipVisible">Enviar Video al Coach</md-tooltip>
                        </md-button>
                    </div>
                </md-content>
            </div>
        </div>
        <br />  
    </div>

</div>

<script>
    angular.element(document.getElementById('trainingApp')).scope().initVideo('recorded', 'gum');
</script>