<meta charset="utf-8"> 
<div layout="column" style="min-height: 750px" layout-padding>
    <div layout="row" layout-align="space-around center">
        <div flex="65">
        <h4 style="color: #0064F8">FITTING</h4>
            <span>
                Puedes realizar el fitting de tu bicicleta desde la comodidad de tu hogar; 
                sencillamente captura un clip de vídeo para grabar dinámicamente la posición en la que pedaleas, 
                nuestros expertos recibirán tu video, lo analizarán y te harán llegar un reporte con indicaciones diseñado exclusivamente para ti!</span></div>
        <div><md-button class="md-raised black-button" ng-click="showUploadFitting()">CARGAR VIDEO</md-button></div>
    </div>

    <!--<div  class="border" style="width: 600px; height: 400px">
        
    </div>-->
</div>
