<meta charset="utf-8">
<md-dialog  style="  width:698px; height: 398px;">
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <i style="color: #AAFD6F"  class="fa fa-times fa-lg" aria-hidden="true"></i>
        </md-button>
    </div>
    <div class="md-dialog-content" style="height: 150px">
        <div layout="column" layout-align="center center">
            <img src="static/img/info.png">
            <br />
            <span style="color: #0064F8; text-transform: uppercase; text-align: center;"> <strong>¡EL COACH {{invitation.coachUserId.fullName}} TE INVIT&Oacute; A SER PARTE DE SU EQUIPO!</strong></span>
            <br /><br /><br />
            <div layout="row"  layout-align="center">  
                <md-button style="background: #1C2127; color:#AAFD6F;" class="md-raised" ng-click="acceptInvitation()">ACEPTAR</md-button>
                <md-button class="md-raised" ng-click="rejectInvitation()">RECHAZAR</md-button>
            </div>
        </div>      
    </div>
</md-dialog>
