@CHARSET "ISO-8859-1";

.ontop {
    height: 100px;
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 2;
}
.choose-file {
    position: absolute;
    top: 260px;
    left: 53%;
}
.container-fluid{
    position: relative;
}

/*hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C0C1C3 -moz-use-text-color #C0C1C3;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}*/
body{
    /*width: 100%;*/
    font-family: 'Raleway', serif;
    font-size: 16px !important;
}
html, body { height:100%;}


.circular {
    border-radius: 50%;
    /*border: 1px solid #e1e1e1;*/ 
}

.circulo {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circular-icon {
    border-radius: 50%;
    border-width: 1px 0;
    border-color: #C0C1C3 -moz-use-text-color #C0C1C3;
    border-style: solid none;
}

.icon-disabled{
    opacity: 0.45; 
    cursor: not-allowed;
}

input.ng-dirty.ng-invalid-required, input.ng-invalid-email {
    border:  solid 1px #a94442;
}

.has-error{
    color: #a94442;
}

ot-whiteboard {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    position: absolute;
    left: 0;
    right: 0;
}

subscriber-stats {
    color: white;
}
subscriber-stats button.show-stats-btn {
    width: 25px;
    height: 25px;
    font-size: 27px;
    cursor: pointer;
    background-color: transparent;
    margin-top: 2px;
    border: none;
    z-index: 99;
}
subscriber-stats div.show-stats-info {
    background: rgba(0,0,0,.4);
    padding: 10px;
    margin-top: 4px;
}

subscriber-stats button.show-stats {
    text-shadow: 0px 0px 8px #fff;
}

md-datepicker {
    padding-top: 3px;
    > button.md-datepicker-button.md-icon-button.md-button {
        margin-left: 0px;
        margin-right: 0px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        min-height: 30px;
    }
    > div.md-datepicker-input-container {
        margin-left: 8px;
        padding-bottom: 4px;
    }
    &.md-datepicker-open > div.md-datepicker-input-container > input.md-datepicker-input {
        height: inherit;
        margin-left: 20px;

    }
}

.itsOpen{
    overflow: hidden;
}

md-backdrop ~ md-content {
    position: fixed;
    overflow: hidden;
}

#user-container, #userProfileDiv, #surveyDiv{
    margin: 100px;
}
#dashboard-container{
    margin: 30px 30px 30px 30px;
}

#message-content{
    border: 1px solid #e1e1e1;
}

md-tooltip .md-content {
    height: auto;
}

md-tooltip ._md-content {
    height: auto;
}

md-tooltip.tt-multiline ._md-content {
    height: auto;
}

.border{
    border: 1px solid #e1e1e1;
}

.Read{
    background-color: green;
}

.colour {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.link {
    text-decoration: underline; cursor: pointer;
}
.recording{
    background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,white 75%,white 100%,#7db9e8 100%);
}

.selectedIndex {
    background: #00E8E8;
}

.selectedIndex i{
    color: #666666 !important;
}

.selectedMail {
    background: #0064F8;
    color: #FFFFFF !important;
    font-weight: bold !important;
}

.selectedMail h3{
    color: #FFFFFF !important;
    font-weight: bold !important;
}

.itemSelected{
    background: #0064F8;
    color: #FFFFFF !important;
    font-weight: bold !important;
}

.md-tab{text-transform: none}

.md-button{    
    text-transform: none !important;/*For Lower case use lowercase*/
}

.boldText{
    font-weight: bold;
}

.item-small{
    min-height: 20px;
    height: 35px;
}

.md-dialog-container {
    position: absolute;
}

md-dialog {
    top: 30px;
}


.preloader {
    padding: 50px;
    background: url('../../static/img/preloader.gif') no-repeat 50% 50% transparent;
}


.bubble{
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    color: #FFFFFF;
}

/*.bubble::before {
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}*/

.me {
    background-color: rgb(64, 139, 250);
    float: left;   
    margin: 5px 45px 5px 20px;         
}

/*.me::before {
    background-color: rgb(64, 139, 250);
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}*/

.you {
    background-color: rgb(127, 178, 252);
    float: right;    
    margin: 5px 20px 5px 45px;         
}

/*.you::before {
    background-color: rgb(127, 178, 252);
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}*/

.msgTime{
    float: right;
}

.md-button.md-fab.md-mini {
    line-height: 30px;
    width: 35px;
    height: 10px;
}

label{
    color: #0064F8 !important;
}

.blue{
    color: #0064F8;
}



#progressbar {
    text-align: justify;
    position: relative;
    overflow: hidden;
    -webkit-padding-start: 0px;
    margin: 0px;
}
#ul-titles {
    margin: -35px 0px 0px 0px;
}
#one{
    position:relative;
    width:auto;
    z-index:1000; 
    line-height:normal;
}

#ul-titles li {
    color: #0064F8;
    display: inline-block;
    position: relative;
    margin: 0 120px 0 -25px;
    width: 22px; 
}
#progressbar:before, #progressbar .active:after {
    content: '';
    width: 100%;
    border: 1px solid #666666;
    position: absolute;
    top: 1em;
    margin-top: -2px;
}
#progressbar .active:after {
    border-color: #666666;
    z-index:-1;
}
#progressbar:after {
    content: "";
    display: inline-block;
    width: 100%;
}
#progressbar li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.8em;
    border-radius: 1em;
    -webkit-border-radius:1em;
    -moz-border-radius:1em;
    background: #0064F8;
    /*margin: 0 1em;*/
    display: inline-block;
    position: relative;
    /*border: 2px solid #00E8E8;*/
    background-repeat: no-repeat;
    border: 2px solid #00E8E8;
    box-sizing: border-box;
    background: linear-gradient(#00E8E8, #0064F8);
    font-weight: bold;
    color: white;
}

#progressbar li::before{
    content: '';
    position: absolute;
    top: .9em;
    left: -4em;
    width: 4em;
    height: .0em;
    background: #666666;
    color: #0064F8;
}


#progressbar li:first-child::before {
    display: none;
}

/*#progressbar .active {
    background: #0064F8;
}*/

#progressbar .active ~ li {
    background: white;
}

#progressbar .active ~ li::before {
    background: #666666;
}

#progressbar li:not(.active) {
    background: white;
    color: #0064F8;
}


.my-radio md-radio-button , md-radio-button.md-checked .md-off{
    border-color: #1C2127 !important;
}

.my-radio .md-off{
    background-color: #1C2127 !important;
}


.my-radio md-radio-button , md-radio-button.md-checked .md-on{
    background-color: #00E8E8 !important;
}

md-switch .md-thumb {
    background-color: #1C2127 !important; /* not selected switch color */
}

md-switch.md-checked .md-thumb {
    background-color: #00E8E8 !important; /* selected switch color */
}

md-switch[disabled] .md-thumb {
    background-color: #00E8E8 !important; /* disabled switch color */
}

md-checkbox .md-icon {
    background: #1C2127;
}

md-checkbox.md-checked .md-icon{
    background: #00E8E8 !important;
}
h5{
    color: #0064F8 !important;
}

.number_dash{
    font-size: 42px;
    background: -webkit-linear-gradient(#00E8E8, #0064F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_dash{
    font-size: 30px;
    height: 48px;
    background: -webkit-linear-gradient(#00E8E8, #0064F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#apps_icon{
    color: #00E8E8;
    margin-right: 20px;
    font-size: 24px !important;
}


.material-icons {
    font-weight: normal;
    font-style: normal;
    font-size: 14px !important;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.md-raised{
    min-width: 200px;
}
/*.md-raised:not([disabled]){
    background: #1C2127 !important; 
    color:#AAFD6F !important; 
}*/


.accordion .open .title{
    background: #0064F8;
    color: #FFFFFF;
    font-weight: bold;
} 

.accordion .title{
    background: #FFFFFF;
    color: #0064F8;
    font-weight: bold;
} 

md-list {
    display: block;
    padding: 0px;
}

.accordion .body .content{
    overflow-y: scroll;
    height: 200px;
}

.accordion-audio .body .content{
    overflow-y: hidden;
    height: auto;
}

#calendar{
    width: 100% !important;
}

#footer {position: relative;
         height: 50px;
         clear:both;
         bottom: 0px;
         margin-bottom: 0px;
}

.welcome{
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(0, 125, 253);
    text-transform: uppercase;
    line-height: 0.938;
}

md-menu-item>.md-button{
    font-size: 12px !important; 
}

.rectangule1{
    background-color: rgb(0, 232, 232);
    width: 11px;
    height: 66px;
}

.rectangule2{
    background-color: rgb(170, 253, 111);
    width: 11px;
    height: 66px;
}

.circle_notification{
    border-radius: 50%;
    background-color: rgb(170, 252, 112);
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: normal;
    color: #000;
    font-weight: bold;
}

.circle_state{
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

#bell_notification .circle_notification{
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 18px;
    padding-top: 0px;
}

.circle_blue {
    border-radius: 50%;
    background-color: rgb(0, 100, 248);
    width: 50px;
    height: 50px;
    text-align: center;
}

.circle_aqua {
    border-radius: 50%;
    background-color: #00E8E8;
    width: 10px;
    height: 10px;
    text-align: center;
}

.circle_blue img{
    padding-top: 8px;
}

.circle_video_modal {
    border-radius: 50%;
    background-color: rgb(0, 100, 248);
    box-shadow: 0px 7px 14.55px 0.45px rgba(0, 0, 0, 0.16);
    width: 54px;
    height: 52px;
    text-align: center;
}

.circle_video_modal_white {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 14.55px 0.45px rgba(0, 0, 0, 0.16);
    width: 53px;
    height: 52px;
    text-align: center;
}

.circle_black {
    border-radius: 50%;
    background-color: rgb(28, 33, 39);
    box-shadow: 0px 4px 15.36px 0.64px rgba(0, 0, 0, 0.24);
    width: 50px;
    height: 50px;
    text-align: center;
}

.circle_black img{
    box-sizing: initial !important;
    padding-top: 8px;
}

.circle_black42 {
    border-radius: 50%;
    background-color: rgb(28, 33, 39);
    box-shadow: 0px 6px 7.76px 0.24px rgba(0, 0, 0, 0.24);
    width: 42px;
    height: 42px;
    text-align: center;
}

.circle_black42 img{
    box-sizing: initial !important;
    padding-top: 8px;
}


.cpt-title {
    font-size: 24px;
    font-family: "Raleway";
    color: rgb(0, 100, 248);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.333
}


.sub-title{
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(0, 100, 248);
    text-transform: uppercase;
    line-height: 0.834;
    -moz-transform: matrix( 1.00137733458212,0,0,1.00103893391854,0,0);
    -webkit-transform: matrix( 1.00137733458212,0,0,1.00103893391854,0,0);
    -ms-transform: matrix( 1.00137733458212,0,0,1.00103893391854,0,0);
}

.disponibles {
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(28, 33, 39);
    line-height: 0.938;
}

.rectangule_h {
    background-color: rgb(170, 253, 111);
    width: 50px;
    height: 5px;
}

.rectangule_audio_aqua {
    background-color: #00E8E8;
    width: 50px;
    height: 5px;
}

.circle_audio_record {
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(0, 100, 248);
    box-shadow: 0px 12px 21.34px 0.66px rgba(0, 0, 0, 0.16);
    width: 110px;
    height: 110px;
    text-align: center;
}

.circle_audio_record img{
    box-sizing: initial !important;
    padding-top: 18px;
}

.cpt-info {
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(28, 33, 39);
    line-height: 0.938;
}

.circle_pause{
    border-width: 5px;
    border-color: rgb(237, 237, 237);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 12px 21.34px 0.66px rgba(0, 0, 0, 0.16);
    width: 110px;
    height: 110px;
    text-align: center;
}

.circle_pause img{
    box-sizing: initial !important;
    padding-top: 28px;
}

.selectedLetter{
    color: #0064F8 !important;
}

.selectedBlue{
    background: #0064F8;
}

.selectedBlue h5{
    color: #FFFFFF !important;
}

md-input-container label{
    font-size: 16px !important;  
}

.asesor_icon .circle_notification{
    display: block;
    position: absolute;
    text-align: center;
    line-height: 18px;
    padding-top: 0px;
    margin-left: 50px;
    margin-top: -40px;
}


.athlete_icon .circle_notification{
    display: block;
    position: absolute;
    text-align: center;
    line-height: 18px;
    padding-top: 0px;
    margin-left: 24px; 
    margin-top: -30px;
}

#navAthlete .md-button.md-default-theme.md-accent, #navAthlete .md-button.md-accent{
   color: #FFFFFF; 
   font-weight: bold;
}

#navAthlete md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar{
    background: rgb(170, 252, 112);
}

#navAthlete .md-button._md-nav-button.md-unselected{
   color: rgb(255, 255, 255);
   font-weight: normal;
}

.icon-panel{
    margin: 8px 5px 10px 0px; 
}

#config-icon{
    position: absolute;
    text-align: center;
    line-height: 18px;
    padding-top: 40px;
    margin-left: 60px;
}

.checked_day{
    background: #0064F8;
    color: #FFFFFF;
    font-weight: bold;
}

.black-button{
    background: #1C2127 !important; 
    color:#AAFD6F !important; 
}

