<md-dialog aria-label="Option" style="width: 600px;height: 400px;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Opciones</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>

<div class="demo-md-panel md-padding">
    <md-content layout-padding>

    <form  name="formOption" novalidate>
        <input type="hidden" ng-model="option.optionId" />
   
                <div layout="row">
                    <div flex="66">
                        <md-input-container class="md-block">
                            <input type="text" ng-model="option.name" id="name" name="name"  
                                   placeholder="Nombre" required/>
                            <div class="has-error" ng-messages="formOption.name.$error">
                                <div ng-message="required">{{ 'REQUIRED_FIELD_TEXT' | translate }}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            

                <div layout="row">
                    <div flex="66">
                        <md-input-container class="md-block">
                            <input type="text" ng-model="option.url" id="url" name="url"  placeholder="Url" required/>
                            <div class="has-error" ng-messages="formOption.url.$error">
                                <div ng-message="required">{{ 'REQUIRED_FIELD_TEXT' | translate }}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            

                    <div layout="row">
                        <div flex="66">
                            <md-input-container class="md-block">
                                <input type="text" ng-model="option.description" id="description" 
                                       name="description"  placeholder="Descripci&oacute;n"/>
                            </md-input-container>
                        </div>
                    </div>
            

                    <div layout="row"> 
                        <div flex="66">
                            <md-input-container class="md-block" >
                                <label>M&oacute;dulo</label>
                                <md-select id="module" 
                                    ng-model="option.moduleId.moduleId" 
                                    ng-model-options="{trackBy: '$value'}"
                                    required>
                                    <md-option ng-value="d.moduleId" ng-repeat="d in moduleList" value="{{d.moduleId}}" 
                                        ng-selected="{{ option.moduleId.moduleId === d.moduleId ? 'true' : 'false' }}">
                                        {{d.name}}
                                    </md-option>
                                </md-select>
                                <div class="has-error" ng-messages="formOption.module.$error">
                                    <div ng-message="required">{{ 'REQUIRED_FIELD_TEXT' | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row"> 
                        <div flex="66">
                            <md-input-container class="md-block" >
                                <label>Opci&oacute;n Padre</label>
                                <md-select id="masterOption" 
                                    ng-model="option.masterOptionId.optionId"
                                    ng-model-options="{trackBy: '$value'}">
                                    <md-option ng-value="d.optionId" ng-repeat="d in masterOptionList" value="{{d.optionId}}" 
                                        ng-selected="{{ option.masterOptionId.optionId === d.masterOptionId ? 'true' : 'false' }}">
                                        {{d.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
            
            <section layout="row" layout-sm="column" layout-align="left" layout-wrap>
                <md-button ng-click="submitOption(formOption)" class="md-raised md-primary">{{ 'GUARDAR_TEXT' | translate }}</md-button>
                <md-button ng-click="cancel()" class="md-raised md-primary">{{ 'CANCELAR' | translate }}</md-button>
            </section>

</form>
</md-content></div>
</md-dialog>