<div class="demo-md-panel md-padding">
    <md-content layout-padding><span class="md-headline">Creaci&oacute;n de Usuario </span>

        <form  name="formUser" class="form-horizontal" novalidate>
            <input type="hidden" ng-model="user.userId" />
            <div>
                <img class="circular" data-ng-src="{{profileImage}}" style="height: 250px; width: 250px;left: 75%;position: absolute;top: 50px;">
            </div>
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="user.login" id="userName" name="userName"  placeholder="Nombre de Usuario" required />
                        <div class="has-error" ng-messages="formUser.userName.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="user.firstName" id="uname" name="uname"  placeholder="Primer Nombre" required />
                        <div class="has-error" ng-messages="formUser.uname.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="user.secondName" id="secondName" name="secondName"  placeholder="Segundo Nombre" />
                        <div class="has-error" ng-messages="formUser.secondName.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="user.lastName" id="lname" name="lname"  placeholder="Apellidos" required ng-minlength="3"/>
                        <div class="has-error" ng-messages="formUser.lname.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                            <div ng-message="minlength">El tama&ntilde;o minimo requerido es 3</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <input type="email" ng-model="user.email" id="email" name="email"  placeholder="Correo Electr&oacute;nico" required/>

                        <div class="has-error" ng-messages="formUser.email.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                            <div ng-message="email">Su correo es inv&aacute;lido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row"> 
                <div flex="33">
                    <md-input-container class="md-block" >
                        <label>Disciplina Deportiva</label>
                        <md-select id="discipline" name="discipline" ng-model="user.disciplineId" required >
                            <md-option ng-repeat="d in disciplines" value="{{d.disciplineId}}" >
                                {{d.name}}
                            </md-option>
                        </md-select>
                        <div class="has-error" ng-messages="formUser.discipline.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>          
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block" >
                        <label  for="sex">Sexo</label>

                        <md-select id="sex" ng-model="user.sex" name="sex" required>
                            <md-option ng-repeat="s in sexOptions" value="{{s.code}}" >
                                {{s.sex}}
                            </md-option>
                        </md-select>
                        <div class="has-error" ng-messages="formUser.sex.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="user.phone" id="phone" name="phone" placeholder="Tel&eacute;fono fijo" required/>
                        <div class="has-error" ng-messages="formUser.phone.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <label>Pa&iacute;s</label>
                        <md-select class="md-block" id="country" name="country" ng-model="user.countryId" required>
                            <md-option ng-repeat="country in countries" value="{{country.countryId}}" >
                                {{country.name}}
                            </md-option>
                        </md-select>
                        <div class="has-error" ng-messages="formUser.country.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <label>Rol</label>
                        <md-select class="md-block" id="role" name="role" ng-model="user.roleId" required>
                            <md-option ng-repeat="r in roles" value="{{r.roleId}}" >
                                {{r.name}}
                            </md-option>
                        </md-select>
                        <div class="has-error" ng-messages="formUser.role.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
         <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <label  for="picture">Foto de Perfil</label>
                        <input type="file" accept="image/*" file-model="myFile" ng-model="user.profile_photo" id="picture" placeholder="Foto de Perfil"/>
                        <!--<md-button ng-click="uploadFile(myFile)" class="md-raised"><i class="fa fa-picture-o" aria-hidden="true"></i> subir foto</md-button>-->
                    </md-input-container>
                </div>
            </div>
            <div layout="row"> 
                <div flex="33">
                    <md-input-container class="md-block" >
                        <label>Descripci&oacute;n</label>
                        <textarea id="aboutMe" name="aboutMe" required md-maxlength="500" ng-model="user.aboutMe" md-select-on-focus></textarea>
                        <div class="has-error" ng-messages="formUser.aboutMe.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="33">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="user.urlVideo" id="urlVideo" name="urlVideo"  placeholder="Url Video Presentaci&oacute;n" required/>
                        <div class="has-error" ng-messages="formUser.urlVideo.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <!--



            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-label" for="aboutMe">Url Video Presentaci&oacute;n *</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="user.urlVideo" id="urlVideo" name="urlVideo" class="form-control input-sm" placeholder="Ingrese la url del video" required/>

                        <div class="has-error" ng-messages="formUser.urlVideo.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </div>
                </div>
            </div>
-->            <section layout="row" layout-sm="column" layout-align="left" layout-wrap>
                <md-button ng-click="submitUser(),uploadFile(myFile)" ng-disabled="formUser.$invalid" class="md-raised md-primary">Guardar</md-button>
            </section>

        </form>

    </md-content>
</div><!--

--><div class="panel panel-default"> 
<div class="panel-heading"><span class="lead">Lista de Usuarios </span></div>
<div class="tablecontainer">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in users">
                <td><span>{{u.login}}</span></td>
                <td><span>{{u.firstName}}</span></td>
                <td><span>{{u.secondName}}</span></td>
                <td><span>{{u.lastName}}</span></td>
                <td><span>{{u.email}}</span></td>
                <td>
                    <button type="button" ng-click="editUser(u.userId)" class="btn btn-success custom-width">Editar</button>  
                    <button ng-show="u.stateId == 1" type="button" ng-click="inactivateUser(u.userId)" class="btn btn-danger custom-width">Inactivar</button>
                    <button ng-show="u.stateId == 0" type="button" ng-click="activateUser(u.userId)" class="btn btn-success custom-width">Activar</button>
                    <!--<button type="button" ng-click="remove(u.user_id)" class="btn btn-danger custom-width">Eliminar</button>-->
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
