<md-dialog aria-label="{{ 'ADD_ROLE_OPTION_MODALITY' | translate }}" style="width: 600px;height: 600px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'ADD_ROLE_OPTION_MODALITY' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
        </div>
    </md-toolbar>

    <div class="demo-md-panel md-padding">
        <md-content layout-padding>
            <form id="formRoleOption" name="formRoleOption">
                <div layout="row">
                    <div flex="66">
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ 'OPTIONS' | translate }}</label>
                            <div class="col-md-4">
                                <picklist  name="pktest" size="20"  data-picklist="" data-pick-model="tselected" data-pick-options="v.optionId.name for v in toptions"></picklist>
                            </div>                            
                        </div>
                    </div>
                </div>

                <section layout="row" layout-sm="column" layout-align="left" layout-wrap>
                    <md-button ng-click="submitRoleOption(formRoleOption)" class="md-raised md-primary">{{ 'GUARDAR_TEXT' | translate }}</md-button>
                    <md-button ng-click="cancel()" class="md-raised md-primary">{{ 'CANCELAR' | translate }}</md-button>
                </section>
            </form>

        </md-content>
    </div>
</md-dialog>
