<meta charset="utf-8">
<div layout="column" layout-padding ng-cloak>
    <span class="cpt-title">DIRECCIONES</span>
    <div layout="column" layout-padding>
        <span class="sub-title">DIRECCIÓN DE FACTURACIÓN</span>
        <span class="cpt-info">La siguiente dirección será utilizada por defecto en la pagina de pago</span>

        <form name="editAddressFrm">
            <div layout="row" layout-align="space-around center">
                <div flex="33">
                    <md-input-container class="md-block" >
                        <input type="text" ng-model="editAddress.billing_first_name"  id="billing_first_name" name="billing_first_name"  placeholder="Primer Nombre"  ng-required="true"/>
                    </md-input-container>
                </div>
                <div flex="33">    
                    <md-input-container class="md-block" >
                        <input type="text" ng-model="editAddress.billing_second_name" id="billing_second_name" name="billing_second_name"  placeholder="Segundo Nombre" />
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="space-around center">
                <div flex="33">
                    <md-input-container class="md-block" >
                        <input type="text" ng-model="editAddress.billing_last_name" id="billing_last_name" name="billing_last_name"  placeholder="Apellidos"  ng-required="true"/>
                    </md-input-container>
                </div>
                <div flex="33">
                    <md-input-container class="md-block" >
                        <input type="text" ng-model="editAddress.billing_company" id="billing_company" name="billing_company"  placeholder="Compañia" />
                    </md-input-container>
                </div>  
            </div>
            <div layout="row" layout-align="space-around center">
                <div flex="33">
                    <md-input-container class="md-block" >
                        <input type="text" ng-model="editAddress.billing_address_1" id="billing_address" name="billing_address"  placeholder="Dirección"  ng-required="true"/>
                    </md-input-container>
                </div>
                <div flex="33">
                    <md-input-container class="md-block">
                        <label>Pa&iacute;s</label>
                        <md-select class="md-block" id="billing_country" ng-model="editAddress.billing_country" ng-change="getStatesByCountry(editAddress.billing_country, true)" >
                            <md-option ng-repeat="country in countries" value="{{country.countryId}}" >
                                {{country.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="space-around center">
                <div flex="33">
                    <md-input-container class="md-block" >
                        <label  for="state">Estado/Región</label>
                        <md-select  id="state"  ng-model="editAddress.billing_state"  ng-change="getCitiesByState(editAddress.billing_state, true)" >
                            <md-option ng-repeat="state in states" value="{{state.federalStateId}}" >
                                {{state.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="33">
                    <md-input-container class="md-block" >
                        <label for="city">Ciudad</label>
                    <md-select  id="city" ng-model="editAddress.billing_city" >
                        <md-option ng-repeat="city in cities" value="{{city.cityId}}" >
                            {{city.name}}
                        </md-option>
                    </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="space-around center">
                <div flex="33">
                    <md-input-container class="md-block" >
                        <input type="text" ng-model="editAddress.billing_postcode" id="postal_code" name="postal_code"  placeholder="Código postal" />
                    </md-input-container>
                </div>
                <div flex="33">
                    <md-input-container class="md-block" >
                        <input type="text" ng-model="editAddress.billing_phone" id="billing_phone" name="billing_phone"  placeholder="Teléfono"  ng-required="true"/>
                    </md-input-container>
                </div>
            </div>
            <div layout="row"  layout-align="space-around center">
                <div flex="33" >
                    <md-checkbox ng-model="editAddress.all">
                        Actualizar para mis suscripciones activas
                    </md-checkbox>
                </div>
                <div flex="33">
                    <md-button ng-click="editAddressInfo()" class="md-raised" style="background: #000; color: rgb(170, 252, 112)">GUARDAR</md-button>
                </div>
            </div>
        </form>
    </div>
    <md-divider></md-divider>
    <div layout="row">
        <md-button class="md-raised" ng-click="go('/address')"><img src="static/img/left.png"> REGRESAR</md-button>
    </div>
</div>