<div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Datos Personales</span></div>
        <div class="panel-body">
            <div class="container-fluid">
                <form  name="myFormUser" class="form-horizontal" novalidate>
                    <input type="hidden" ng-model="user.userId" />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="uname">Primer Nombre</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.firstName" id="uname" name="uname" class="form-control input-sm" placeholder="Ingrese su Primer Nombre" required="" ng-minlength="3"/>
                                <div class="has-error" ng-messages="myFormUser.uname.$error">
                                    <div ng-message="required">Este es un campo requerido</div>
                                    <div ng-message="minlength">El tama&ntilde;o minimo requerido es 3</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="secondName">Segundo Nombre</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.secondName" id="secondName" name="secondName" class="form-control input-sm" placeholder="Ingrese su Segundo Nombre"  ng-minlength="3"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="lname">Apellidos</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.lastName" id="lname" name="lname" class="form-control input-sm" placeholder="Ingrese su Apellido" required ng-minlength="3"/>
                                <div class="has-error" ng-messages="myFormUser.lname.$error">
                                    <div ng-message="required">Este es un campo requerido</div>
                                    <div ng-message="minlength">El tama&ntilde;o minimo requerido es 3</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="email">Correo Electr&oacute;nico</label>
                            <div class="col-md-6">
                                <input type="email" ng-model="user.email" id="email" name="email" class="email form-control input-sm" placeholder="Ingrese su Correo" required/>

                                <div class="has-error" ng-messages="myFormUser.email.$error">
                                    <div ng-message="required">Este es un campo requerido</div>
                                    <div ng-message="email">Su correo es inv&aacute;lido</div>
                                </div>

                            </div>
                            <input style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','email')"
                                    ng-checked="visibleField('user_training','email')"> Mostrar 
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="sex">Sexo</label>
                            <div class="col-md-6">
                                <select id="sex" ng-model="user.sex" ng-options="k.code as k.sex for k in sexOptions" class="form-control"></select>
                                <div class="has-error" ng-messages="myFormUser.sex.$error">
                                    <div ng-message="required">Este es un campo requerido</div>
                                </div>
                            </div>
                            <input  style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','sex')"
                                    ng-checked="visibleField('user_training','sex')"> Mostrar
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="birthDate" style="margin-top: 2%">Fecha de Nacimiento</label>
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input type="text" id="birthDate" name="birthDate" ng-blur="showAge(this.birthdateDt)" class="form-control" uib-datepicker-popup="{{format}}" ng-model="birthdateDt" is-open="popup.opened" placeholder="Ingrese su Fecha de Nacimiento" datepicker-options="dateOptions" ng-required="true" close-text="Close" maxlength="10"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <div class="has-error" ng-messages="myFormUser.birthDate.$error">
                                    <div ng-message="required">Este es un campo requerido</div>
                                    <div ng-message="date">Este campo es inv&aacute;lido</div>
                                </div>

                            </div>
                            <input  style="margin-top: 2%" type="checkbox" ng-click="setVisibleField($event,'user_training','birth_date')"
                                    ng-checked="visibleField('user_training','birth_date')"> Mostrar
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label">Edad</label>
                            <div class="col-md-6">
                                <span>{{user.age}}</span>
                            </div>
                            <input  style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','age')"
                                    ng-checked="visibleField('user_training','age')"> Mostrar
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="phone">Tel&eacute;fono fijo</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.phone" id="phone" class="form-control input-sm" placeholder="Ingrese su Tel&eacute;fono"/>
                            </div>
                            <input   style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','phone')"
                                     ng-checked="visibleField('user_training','phone')"> Mostrar
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="cellphone">Celular</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.cellphone" id="cellphone" class="form-control input-sm" placeholder="Ingrese su Celular"/>
                            </div>
                            <input   style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','cellphone')"
                                     ng-checked="visibleField('user_training','cellphone')"> Mostrar
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="country">Pa&iacute;s</label>
                            <div class="col-md-6">
                                <select ng-init="" placeholder="Ingrese su País" id="country" ng-model="user.countryId" ng-options="country.countryId as country.name for country in countries" ng-change="getStatesByCountry(user.countryId)" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="state">Estado</label>
                            <div class="col-md-6">
                                <select id="state"  ng-model="user.federalStateId" ng-options="state.federalStateId as state.name for state in states" ng-change="getCitiesByState(user.federalStateId)" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="city">Ciudad</label>
                            <div class="col-md-6">
                                <select id="city" ng-model="user.cityId" ng-options="city.cityId as city.name for city in cities" ng-change="" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="address">Direcci&oacute;n</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.address" id="address" class="form-control input-sm" placeholder="Ingrese su Direcci&oacute;n"/>
                            </div>
                            <input  style="margin-top: 1%" type="checkbox"  ng-click="setVisibleField($event,'user_training','address')"
                                    ng-checked="visibleField('user_training','address')"> Mostrar
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="postalCode">C&oacute;digo Postal</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.postalCode" id="postalCode" class="form-control input-sm" placeholder="Ingrese su C&oacute;digo Postal"/>
                            </div>
                            <input  style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','postal_code')"
                                    ng-checked="visibleField('user_training','postal_code')"> Mostrar
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="facebookPage">P&aacute;gina de Facebook</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.facebookPage" name="facebookPage" id="facebookPage" class="form-control input-sm" placeholder="Ingrese su P&aacute;gina de Facebook"/>
                            </div>
                            <input  style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','facebook_page')"
                                    ng-checked="visibleField('user_training','facebook_page')"> Mostrar
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="twitterPage">P&aacute;gina de Twitter</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.twitterPage" id="twitterPage" class="form-control input-sm" placeholder="Ingrese su P&aacute;gina de Twitter"/>
                            </div>
                            <input  style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','twitter_page')"
                                    ng-checked="visibleField('user_training','twitter_page')"> Mostrar
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="instagramPage">P&aacute;gina de Instagram</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.instagramPage" id="instagramPage" class="form-control input-sm" placeholder="Ingrese su P&aacute;gina de Instagram"/>
                            </div>
                            <input  style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','instagram_page')"
                                    ng-checked="visibleField('user_training','instagram_page')"> Mostrar
                        </div>  
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="webPage">P&aacute;gina Web</label>
                            <div class="col-md-6">
                                <input type="text" ng-model="user.webPage" id="webPage" class="form-control input-sm" placeholder="Ingrese su P&aacute;gina Web"/>
                            </div>
                            <input  style="margin-top: 1%" type="checkbox" ng-click="setVisibleField($event,'user_training','web_page')"
                                    ng-checked="visibleField('user_training','web_page')"> Mostrar
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="picture">Foto de Perfil</label>
                            <div class="col-md-6">
                                 <p class="input-group">
                                <input type="file" accept="image/*" file-model="myFile" ng-model="user.profile_photo" id="picture" class="form-control input-sm" placeholder="Seleccione una foto"/>
                                 <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm" ng-click="uploadFile(myFile)"><i class="fa fa-picture-o" aria-hidden="true"></i> subir foto</button>
                                 </span>
                                 </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label">&iquest;Usted posee una cuenta de usuario de estas p&aacute;ginas?</label>
                            <div class="col-md-8">
                                <a ng-href="https://my.garmin.com/mygarmin/login.htm" ><img data-ng-src="static/img/garmin.png" class="circular-icon" title="Garmin" style="height: 60px; width: 60px;"/></a>
                                <a ng-href="https://www.polar.com" ><img  data-ng-src="static/img/polar.png" class="circular-icon" title="Polar" style="height: 60px; width: 60px;"/></a>
                                <a ng-href="https://www.underarmour.com" ><img  data-ng-src="static/img/under_armour.png" class="circular-icon" title="Under Armour" style="height: 60px; width: 60px;"/></a>
                                <img  data-ng-src="static/img/nike.png" class="circular-icon icon-disabled" title="Nike" style="height: 60px; width: 60px;"/>
                                <img  data-ng-src="static/img/suunto.png" class="circular-icon icon-disabled" title="Suunto" style="height: 60px; width: 60px;"/>
                                <img  data-ng-src="static/img/strava.png" class="circular-icon icon-disabled" title="Strava" style="height: 60px; width: 60px;"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-actions">
                            <!--<button type="button" ng-click="submitUser()"  class="btn btn-primary btn-sm" ng-disabled="myFormUser.$invalid">Guardar</button>-->
                            <input type="submit" ng-click="submitUser()"  class="btn btn-primary btn-sm" value="Guardar" ng-disabled="myFormUser.$invalid">
                        </div>
                    </div>

                </form>
            </div>
            <div class="ontop">
                <img data-ng-src="{{dataImage}}"  data-err-src="static/img/profile-default.png" style="height: 200px; width: 200px;"/>
            </div>
        </div>
    </div>