<md-content layout-padding>
    <form name="frm4">
        <div layout="row"> 
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder" >
                    <label>Acerca de m&iacute;</label>
                    <textarea md-maxlength="500" ng-model="userProfile.aboutMe" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_profileabout_me, 'user_profile', 'about_me')"
                       ng-model="user_profileabout_me"> {{ 'SHOW' | translate }}</md-switch>

        </div>

        <div layout="row"> 

            <span class="md-subhead">&iquest;Tienes pulsometro?</span>
        </div>
        <div layout="row"> 
            <div flex="66">
                <md-radio-group ng-model="userProfile.indPulsometer">
                    <md-radio-button class="my-radio"  value="1"> Si</md-radio-button>
                    <md-radio-button class="my-radio"  value="0"> No</md-radio-button>
                </md-radio-group>
            </div>
            <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_profilepulsometer, 'user_profile', 'pulsometer')"
                       ng-model="user_profilepulsometer"> {{ 'SHOW' | translate }}</md-switch>
        </div>
        <div ng-show="userProfile.indPulsometer == 1">
            <div layout="row"> 
                <div flex="66">
                    <md-input-container class="md-block md-input-has-placeholder" >
                        <label>&iquest;Cu&aacute;l?</label>
                        <md-select  ng-model="userProfile.pulsometer" id="pulsometer" name="pulsometer" ng-change="getModelsPulsometer(userProfile.pulsometer)">
                            <md-option ng-repeat="m in pulsometers" value="{{m.sportEquipmentId}}" >
                                {{m.brand}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div ng-show="showModelPulsometer">
                <div layout="row"> 
                    <div flex="66">
                        <md-input-container class="md-block md-input-has-placeholder" >
                            <label >Modelo</label>
                            <md-select  ng-model="userProfile.modelPulsometer" >
                                <md-option ng-repeat="m in modelsPulsometer" value="{{m.modelEquipmentId}}" >
                                    {{m.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div ng-show="showAnotherPulsometer">
                <div layout="row">
                    <div flex="66">
                        <md-input-container class="md-block md-input-has-placeholder" >
                            <input type="text" name="otherPulsometer" placeholder="&iquest;Qu&eacute; Marca?" ng-required="showAnotherPulsometer" class="form-control" ng-model="userProfile.otherPulsometer">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div flex="66">
                        <md-input-container class="md-block md-input-has-placeholder" >
                            <input  name="otherModelPulsometer" placeholder="&iquest;Qu&eacute; Modelo?" ng-required="showAnotherPulsometer" type="text" ng-model="userProfile.otherModelPulsometer">
                        </md-input-container>
                    </div>
                </div>
            </div>

        </div>

        <div layout="row"> 
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder" >
                    <label>Umbral Aerobico
                    </label>
                    <input type="number" ng-model="userProfile.ppm" id="ppm" name="ppm"  ng-blur="calculatePpm()" >
                </md-input-container>
            </div>
            <md-button class="md-icon-button launch md-primary" aria-label="ppm" ng-click="showTooltipPpm()">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </md-button>
            <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_profileppm, 'user_profile', 'ppm')"
                       ng-model="user_profileppm"> {{ 'SHOW' | translate }}</md-switch>
        </div>
        <div layout="row">
            <div flex="66">
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>Zona</th>
                            <th md-column colspan="2">Ppm</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row>
                            <td md-cell>1</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm0"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm81"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>2</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm82"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm89"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>3</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm90"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm93"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>4</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm94"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm99"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>5</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm100"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm102"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>6</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm103"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm106"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>7</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm0"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ppm106"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div layout="row"> 
            <span class="md-subhead">&iquest;Tienes potenciometro?</span>
        </div>
        <div layout="row"> 
            <div flex="66">
                <md-radio-group ng-model="userProfile.indPower">
                    <md-radio-button class="my-radio"  value="1"> Si</md-radio-button>
                    <md-radio-button class="my-radio"  value="0"> No</md-radio-button>
                </md-radio-group>
            </div>

            <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_profilepotentiometer, 'user_profile', 'potentiometer')"
                       ng-model="user_profilepotentiometer"> {{ 'SHOW' | translate }}</md-switch>
        </div>
        <div ng-show="userProfile.indPower == 1">
            <div layout="row"> 
                <div flex="66">
                    <md-input-container class="md-block md-input-has-placeholder" >
                        <label>&iquest;Cu&aacute;l?</label>
                        <md-select  ng-model="userProfile.potentiometer" id="potentiometer" name="potentiometer" ng-change="getModelsPotentiometer(userProfile.potentiometer)">
                            <md-option ng-repeat="m in potentiometers" value="{{m.sportEquipmentId}}" >
                                {{m.brand}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <div ng-show="showModelPotentiometer">
                <div layout="row"> 
                    <div flex="66">
                        <md-input-container class="md-block md-input-has-placeholder" >
                            <label>Modelo</label>
                            <md-select  ng-model="userProfile.modelPotentiometer" id="modelPotentiometer" name="modelPotentiometer">
                                <md-option ng-repeat="m in modelsPotentiometer" value="{{m.modelEquipmentId}}" >
                                    {{m.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div ng-show="showAnotherPotentiometer">
                <div layout="row"> 
                    <div flex="66">
                        <md-input-container class="md-block md-input-has-placeholder" >
                            <input type="text" placeholder="&iquest;Qu&eacute; Marca?" ng-required="showAnotherPotentiometer" class="form-control" ng-model="userProfile.otherPotentiometer">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row"> 
                    <div flex="66">
                        <md-input-container class="md-block md-input-has-placeholder" >
                            <input  class="form-control" placeholder="&iquest;Qu&eacute; Modelo?" ng-required="showAnotherPotentiometer" type="text" ng-model="userProfile.otherModelPotentiometer">
                        </md-input-container>
                    </div>
                </div>
            </div>

        </div>

        <div layout="row" ng-if="userProfile.discipline == 1 || userProfile.discipline == 2"> <!-- Ciclismo Triatlon -->
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder" >
                    <label>Potencia
                    </label>
                    <input type="number"  ng-model="userProfile.power"  id="power" name="power" ng-blur="calculateZone()">
                </md-input-container>
            </div>

            <md-button class="md-icon-button launch md-primary" aria-label="potencia" ng-click="showTooltipPower()">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </md-button>
            <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_profilepower, 'user_profile', 'power')"
                       ng-model="user_profilepower"> {{ 'SHOW' | translate }}</md-switch>

        </div>
        
        <div layout="row" ng-if="userProfile.discipline == 3 || userProfile.discipline == 4"> <!-- Running, Natación -->
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder" >
                    <label ng-if="userProfile.discipline == 3">Distancia recorrida (Km)</label>
                     <label ng-if="userProfile.discipline == 4">Distancia recorrida (Mts)</label>
                    <input type="number" ng-model="userProfile.testDistance" id="distance" name="distance" ng-blur="calculatePaceZone()">
                </md-input-container>
            </div>
             <md-button class="md-icon-button launch md-primary" aria-label="distancia" ng-click="showTooltipDistance()">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </md-button>
        </div>

        <div layout="row">
            <div flex="66">
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>Zona</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row>
                            <td md-cell>1</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp0"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp129"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>2</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" style="width: 60px" ng-model="userProfile.ftp129"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" style="width: 60px" ng-model="userProfile.ftp114"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>3</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp114"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp106"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>4</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp106"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp100"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>5</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp100"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp97"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>6</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp97"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp90"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>7</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp106"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  style="width: 60px" ng-model="userProfile.ftp0"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
                
         <div layout="row" ng-if="userProfile.discipline == 2"> <!-- Triatlon -->
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder" >
                    <label>Distancia recorrida Running (Km)</label>
                    <input type="number" ng-model="userProfile.testDistance" id="distance" name="distance" ng-blur="calculatePaceZoneRunning()">
                </md-input-container>
            </div>
                <md-button class="md-icon-button launch md-primary" aria-label="distancia" ng-click="showTooltipDistance()">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </md-button>
        </div>

        <div layout="row" ng-if="userProfile.discipline == 2"> <!-- Triatlon -->
            <div flex="66">
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>Zona</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row>
                            <td md-cell>1</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp0}}" style="width: 60px" ng-model="ftp0R"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp129}}" style="width: 60px" ng-model="ftp129R"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>2</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp129}}" style="width: 60px" ng-model="ftp129R"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp114}}" style="width: 60px" ng-model="ftp114R"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>3</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp114}}" style="width: 60px" ng-model="ftp114R"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp106}}" style="width: 60px" ng-model="ftp106R"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>4</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp106}}" style="width: 60px" ng-model="ftp106R"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp100}}" style="width: 60px" ng-model="ftp100R"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>5</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp100}}" style="width: 60px" ng-model="ftp100R"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp97}}" style="width: 60px" ng-model="ftp97R"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>6</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp97}}" style="width: 60px" ng-model="ftp97R"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp90}}" style="width: 60px" ng-model="ftp90R"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>7</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp90}}" style="width: 60px" ng-model="ftp106R"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp0}}" style="width: 60px" ng-model="ftp0R"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
         <div layout="row" ng-if="userProfile.discipline == 2"> <!-- Triatlon -->
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder" >
                    <label>Distancia recorrida Nataci&oacute;n (Mts)</label>
                    <input type="number" ng-model="userProfile.testDistanceN" id="distance" name="distance" ng-blur="calculatePaceZoneNatacion()">
                </md-input-container>
            </div>
                <md-button class="md-icon-button launch md-primary" aria-label="distancia" ng-click="showTooltipDistance()">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </md-button>
        </div>

        <div layout="row" ng-if="userProfile.discipline == 2"> <!-- Triatlon -->
            <div flex="66">
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>Zona</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row>
                            <td md-cell>1</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp0}}" style="width: 60px" ng-model="ftp0N"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp129}}" style="width: 60px" ng-model="ftp129N"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>2</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp129}}" style="width: 60px" ng-model="ftp129N"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp114}}" style="width: 60px" ng-model="ftp114N"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>3</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp114}}" style="width: 60px" ng-model="ftp114N"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp106}}" style="width: 60px" ng-model="ftp106N"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>4</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp106}}" style="width: 60px" ng-model="ftp106N"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp100}}" style="width: 60px" ng-model="ftp100N"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>5</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp100}}" style="width: 60px" ng-model="ftp100N"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp97}}" style="width: 60px" ng-model="ftp97N"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>6</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp97}}" style="width: 60px" ng-model="ftp97N"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp90}}" style="width: 60px" ng-model="ftp90N"></td>
                        </tr>
                        <tr md-row>
                            <td md-cell>7</td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp90}}" style="width: 60px" ng-model="ftp106N"></td>
                            <td md-cell><input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" placeholder="{{ftp0}}" style="width: 60px" ng-model="ftp0N"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div layout="row"> 
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder" >
                    <label>VO2 M&aacute;ximo Running</label>
                    <input type="number"  ng-model="userProfile.vo2Running">
                </md-input-container>
            </div>
            <md-button class="md-icon-button launch md-primary" aria-label="running" ng-click="showTooltipVo2Running()">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </md-button>
            <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_profilevo2_running, 'user_profile', 'vo2_running')"
                       ng-model="user_profilevo2_running"> {{ 'SHOW' | translate }}</md-switch>
        </div>
        <div layout="row"> 
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder" >
                    <label>VO2 M&aacute;ximo Ciclismo</label>

                    <input type="number"  ng-model="userProfile.vo2Ciclismo">
                </md-input-container>
            </div>
            <md-button class="md-icon-button launch md-primary" aria-label="running" ng-click="showTooltipVo2Ciclismo()">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </md-button>
            <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_profilevo2_ciclismo, 'user_profile', 'vo2_ciclismo')"
                       ng-model="user_profilevo2_ciclismo"> {{ 'SHOW' | translate }}</md-switch>

        </div>

        <div layout="row"> 
            <div flex="66">
                <label>&iquest;Tienes bicicleta? </label>
                <md-radio-group ng-model="indBike">
                    <md-radio-button class="my-radio"  value="1"> Si</md-radio-button>
                    <md-radio-button class="my-radio"  value="-1"> No</md-radio-button>
                </md-radio-group>
            </div>
            <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_profilebike, 'user_profile', 'bike')"
                       ng-model="user_profilebike"> {{ 'SHOW' | translate }}</md-switch>
        </div>
        <div  ng-show="indBike == 1">
            <div layout="row"> 
                <div flex="66">
                    <md-input-container class="md-block md-input-has-placeholder" >
                        <label>Tipo de Bicicleta</label>
                        <md-select  ng-model="userProfile.bikeType"
                                    ng-change="getBikes(userProfile.bikeType)">
                            <md-option ng-repeat="p in bikeTypes" value="{{p.bikeTypeId}}" >
                                {{p.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="row"> 
                <div flex="66">
                    <md-input-container class="md-block md-input-has-placeholder" >
                        <label>&iquest;Cu&aacute;l?</label>
                        <md-select  ng-model="userProfile.bikes" id="shoe" name="bikes" ng-change="getModelsBike(userProfile.bikes)">
                            <md-option ng-repeat="m in bikes" value="{{m.sportEquipmentId}}" >
                                {{m.brand}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="showModelBike"> 
                <div flex="66">
                    <md-input-container class="md-block md-input-has-placeholder" >
                        <label >Modelo</label>
                        <md-select  ng-model="userProfile.modelBike" id="shoe" name="bikes">
                            <md-option ng-repeat="m in modelsBike" value="{{m.modelEquipmentId}}" >
                                {{m.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div ng-show="showAnotherBike">
                <div layout="row">
                    <div flex="66">
                        <md-input-container class="md-block md-input-has-placeholder" >
                            <input type="text" name="otherBike" placeholder="&iquest;Qu&eacute; Marca?" ng-required="showAnotherBike" class="form-control" ng-model="userProfile.otherBike">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div flex="66">
                        <md-input-container class="md-block md-input-has-placeholder" >
                            <input  name="otherModelBike" placeholder="&iquest;Qu&eacute; Modelo?" ng-required="showAnotherBike" type="text" ng-model="userProfile.otherModelBike">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row"> 
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder" >
                    <label>&iquest;Qu&eacute; tipo de zapato para correr usas?</label>
                    <md-select  ng-model="userProfile.shoes" id="shoe" name="shoe">
                        <md-option ng-repeat="m in shoes" value="{{m.sportEquipmentId}}" >
                            {{m.brand}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_profileshoes, 'user_profile', 'shoes')"
                       ng-model="user_profileshoes"> {{ 'SHOW' | translate }}</md-switch>
        </div>
        <div layout="row"> 
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder">
                    <label>Sistema de medici&oacute;n </label>
                    <md-select  ng-model="userProfile.indMetricSys" id="indMetricSys" name="indMetricSys" ng-change="setUnit(userProfile.indMetricSys)">
                        <md-option ng-repeat="m in metricSystems" value="{{m.id}}" >
                            {{m.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        {{$setValidity(frm4.$valid, 4)}}
    </form>
</md-content>