<!--<div  id="user-container"  ng-include src="'static/views/datosPersonales/datosPersonales.html'"></div> 
<md-divider inset></md-divider>
<div id="userProfileDiv"  ng-include  src="'static/views/datosPersonales/datosDeportivos.html'"></div>
<md-divider inset></md-divider>
<div id="surveyDiv"     ng-include src="'static/views/datosPersonales/survey.html'"></div>-->
<div layout="row" layout-align="center center" style="padding-bottom: 50px">
    <div flex="20"></div>
    <div flex="70">
        <h4 style="color: #0064F8">CONFIGURACI&Oacute;N DE MI PERFIL</h4>
        <!-- progressbar -->
        <ul id="progressbar">
            <li ng-class="{active: currentNavItem == 0}">1</li>
            <li id="#two" ng-class="{active: currentNavItem == 1}">2</li>
            <li id="#three" ng-class="{active: currentNavItem == 2}">3</li>
            <li id="#four" ng-class="{active: currentNavItem == 3}">4</li>
        </ul>
        <div id="ul-titles" layout="row" class="blue" layout-align="space-between start">
            <h5>DATOS PERSONALES</h5>
            <h5>DATOS DE CONTACTO</h5>
            <h5>DATOS DEPORTIVOS</h5>
            <h5>DATOS DE SALUD</h5>
        </div>
        <multi-step-container steps="steps" class="simple-prev-next" on-step-change="onStepChange($getActiveIndex(), $event)">
            <header>
                <!--<md-tabs md-dynamic-height md-selected="currentNavItem">
                    <md-tab ng-disabled="currentNavItem != '0'"  label="DATOS PERSONALES"></md-tab>
                    <md-tab ng-disabled="currentNavItem != '1'"  label="DATOS DE CONTACTO"></md-tab>
                    <md-tab ng-disabled="currentNavItem != '2'"  label="DATOS DEPORTIVOS"></md-tab>
                    <md-tab ng-disabled="currentNavItem != '3'"  label="DATOS DEPORTIVOS"></md-tab>
                    <md-tab ng-disabled="currentNavItem != '4'"  label="OTROS DATOS"></md-tab>
                </md-tabs>-->

                <!--<strong ng-bind-template="{{$getActiveIndex()}}. {{$getActiveStep().title}}"></strong>-->
                <!--<h3 class="blue">{{$getActiveStep().title}}</h3>-->
                <md-subheader>Todos los datos que contengan asterisco(*) son datos obligatorios</md-subheader>
                <!--<strong ng-if="$getActiveStep().hasForm" class="fa" ng-class="$getActiveStep().valid ? 'fa-check' : 'fa-times'"></strong>-->
            </header>

            <main step-container></main>
            <section layout="row" layout-sm="column" layout-align="center" layout-wrap>
                <md-button ng-disabled="$isFirst()" ng-click="$previousStep()" class="md-raised"><span class="fa fa-chevron-left"></span> ANTERIOR</md-button>
                <md-button ng-if="$getActiveIndex() !== 4" ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid)" style="background: #1C2127; color:#AAFD6F;" ng-click="$nextStep()" >SIGUIENTE <span class="fa fa-chevron-right"></span></md-button>
                <md-button ng-if="$getActiveIndex() === 4" ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid) || !(userSession.typeUser === userSessionTypeUserAtleta && userSession.indLoginFirstTime == '1' && userSession.planActiveId != null)" style="background: #1C2127; color:#AAFD6F;" ng-click="submitUserProfile(true, $event)" >GENERAR PLAN <span class="fa fa-chevron-right"></span></md-button>
            </section>
            <div ng-if="$getActiveIndex() === 4" layout="row" layout-align="center">
                <br />
                <a href="" ng-click="submitUserProfile(frm4, false, $event)"><span class="md-caption">A&uacute;n no quiero generar mi plan, guardar mis datos</span></a>
            </div>
        </multi-step-container>
    </div>
    <div flex="20"></div>
</div>
