<md-content layout-padding>
        <input type="hidden" ng-model="user.userId" />
        <form name="frm2" ng-submit="submitUser(myFile)">
        <div layout="row">
            <div flex="66">
                <md-input-container class="md-block">
                    <input type="email" ng-model="user.email" id="email" name="email"  placeholder="Correo Electr&oacute;nico" ng-required="true"/>

                    <div class="has-error" ng-messages="frm2.email.$error">
                        <div ng-message="required">Este es un campo requerido</div>
                        <div ng-message="email">Su correo es inv&aacute;lido</div>
                    </div>
                </md-input-container>
            </div>
            <md-switch class="md-primary" aria-label="Mostrar" ng-model="user_trainingemail" ng-change="setVisibleField(user_trainingemail, 'user_training', 'email')"
                       ng-model="isActive"> Mostrar </md-switch>
        </div>
        <div layout="row">
            <div flex="66">
                <md-input-container class="md-block">
                    <input type="number" ng-model="user.cellphone" min="0" string-to-number id="cellphone" name="cellphone"  placeholder="Celular" ng-maxlength="50"/>
                    <div class="has-error" ng-messages="frm2.cellphone.$error">
                        <div ng-message="maxlength">El tama&ntilde;o m&aacute;ximo requerido es 50</div>
                    </div>
                </md-input-container>
            </div>
            <md-switch class="md-primary" aria-label="Mostrar"   ng-change="setVisibleField(user_trainingcellphone, 'user_training', 'cellphone')"
                       ng-model="user_trainingcellphone"> Mostrar</md-switch>
        </div>
        <div layout="row">
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder">
                    <label>Pa&iacute;s</label>
                    <md-select class="md-block" id="country" ng-model="user.countryId" ng-change="getStatesByCountry(user.countryId, true)" >
                        <!--<md-select-label>{{country || 'Seleccione un pa&aiacute;s'}}</md-select-label>-->
                        <md-option ng-repeat="country in countries" value="{{country.countryId}}" >
                            {{country.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div layout="row">
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder">

                    <label  for="state">Estado</label>

                    <md-select  id="state"  ng-model="user.federalStateId"  ng-change="getCitiesByState(user.federalStateId, true)" >
                        <!--<md-select-label>{{state || 'Seleccione una estado'}}</md-select-label>-->
                        <md-option ng-repeat="state in states" value="{{state.federalStateId}}" >
                            {{state.name}}
                        </md-option>
                    </md-select>

                </md-input-container>
            </div>
            <md-switch class="md-primary" aria-label="Mostrar"   ng-change="setVisibleField(user_trainingfederalStateId, 'user_training', 'federalStateId')"
                       ng-model="user_trainingfederalStateId"> Mostrar</md-switch>
        </div>
        <div layout="row">
            <div flex="66">
                <md-input-container class="md-block md-input-has-placeholder">
                    <label for="city">Ciudad</label>

                    <md-select  id="city" ng-model="user.cityId" >
                        <!--<md-select-label>{{city || 'Seleccione una ciudad'}}</md-select-label>-->
                        <md-option ng-repeat="city in cities" value="{{city.cityId}}" >
                            {{city.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>

        <div layout="row">
            <div flex="66">
                <md-input-container class="md-block">
                    <input type="number" ng-model="user.postalCode" string-to-number id="postalCode" name="postalCode"  placeholder="C&oacute;digo Postal" ng-maxlength="50"/>
                    <div class="has-error" ng-messages="frm2.postalCode.$error">
                        <div ng-message="maxlength">El tama&ntilde;o m&aacute;ximo requerido es 50</div>
                    </div>
                </md-input-container>
            </div>
            <md-switch class="md-primary" aria-label="Mostrar"   ng-change="setVisibleField(user_trainingpostal_code, 'user_training', 'postal_code')"
                       ng-model="user_trainingpostal_code"> Mostrar</md-switch>

        </div>
            {{$setValidity(frm2.$valid, 2)}}
                <br /><br />
            <!--<section layout="row" layout-sm="column" layout-align="left" layout-wrap>
                <md-button type="submit" style="background: #1C2127; color:#00E8E8;">Guardar</md-button>
            </section>-->
        </form>
    </md-content>
