 <md-content layout-padding>
        <form name="frm1">
            <input type="hidden" ng-model="user.userId" />
            <input style="display:none" type="file" accept="image/*" onchange="angular.element(this).scope().uploadFile(this)" file-model="myFile" ng-model="user.profile_photo" id="picture" />
            <div layout="row">
                <div flex>
                    <img class="circular" data-ng-src="{{profileImage}}"  data-err-src="static/img/profile-default.png" style="height: 150px; width: 150px;"/>
                    <md-button class="md-raised"  id="upload_link">Editar foto de perfil</md-button>
                    <!--<md-button class="md-fab md-mini md-primary fa fa-upload" ng-disabled="myFile == null" ng-click="uploadFile(myFile)" aria-label="Subir"> </md-button>-->

                </div>   
            </div>
            <div layout="row">
                <div flex="66">
                    <md-input-container class="md-block" >
                        <input type="text" ng-model="user.firstName" id="uname" name="uname"  placeholder="Primer Nombre"  ng-minlength="3" ng-maxlength="500" ng-required="true"/>
                        <div class="has-error" ng-messages="frm1.uname.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                            <div ng-message="minlength">El tama&ntilde;o minimo requerido es 3</div>
                            <div ng-message="maxlength">El tama&ntilde;o m&aacute;ximo requerido es 500</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" >
                <div flex="66">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="user.secondName" id="secondName" name="secondName"  placeholder="Segundo Nombre"  />
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="66">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="user.lastName" id="lname" name="lname"  placeholder="Apellidos"  ng-minlength="3" ng-maxlength="500" ng-required="true"/>
                        <div class="has-error" ng-messages="frm1.lname.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                            <div ng-message="minlength">El tama&ntilde;o minimo requerido es 3</div>
                            <div ng-message="maxlength">El tama&ntilde;o m&aacute;ximo requerido es 500</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <div flex="66">
                    <md-input-container class="md-block md-input-has-placeholder" >
                        <label  for="sex">Sexo</label>

                        <md-select id="sex" ng-model="user.sex" ng-required="true">
                            <!--<md-select-label>{{s || 'Seleccione el sexo'}}</md-select-label>-->
                            <md-option ng-repeat="s in sexOptions" value="{{s.code}}" >
                                {{s.sex}}
                            </md-option>
                        </md-select>
                        <div class="has-error" ng-messages="frm1.sex.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <md-switch class="md-primary" aria-label="Mostrar" ng-model="user_trainingsex" ng-change="setVisibleField(user_trainingsex, 'user_training', 'sex')">
                    Mostrar
                </md-switch>

            </div>

            <div layout="row">
                <div flex="66">
                    <md-input-container class="md-block" >
                        <label>Fecha de Nacimiento (dd/mm/yyyy)</label>
                        <!--<md-datepicker id="birthDate" name="birthDate" md-max-date="maxDate" ng-blur="showAge(this.birthdateDt)"  ng-model="birthdateDt"  ng-required="true" >
    
                        </md-datepicker>-->
                        <input type="text" id="birthDate" readonly="true"  ng-model-options="{updateOn: 'blur'}" name="birthDate" ng-model="birthdateDt" jqdatepicker  ng-required="true" />
                        <!--<input type="text" ng-model="birthdateDt" id="birthDate" ng-blur="showAge(this.birthdateDt)" name="birthDate" />-->
                        <div class="has-error" ng-messages="frm1.birthDate.$error">
                            <div ng-message="required">Este es un campo requerido</div>
                            <div ng-message="date">Este campo es inv&aacute;lido</div>
                        </div>
                    </md-input-container>
                </div>
                <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_trainingbirth_date, 'user_training', 'birth_date')"
                           ng-model="user_trainingbirth_date">Mostrar</md-switch>

            </div>
            <div layout="row">
                <div flex="66">
                    <md-input-container class="md-block" >
                        <input type="text" ng-model="user.age" id="age"  placeholder="Edad" readonly="true"/>
                    </md-input-container>
                </div> 

                <md-switch class="md-primary" aria-label="Mostrar" ng-change="setVisibleField(user_trainingage, 'user_training', 'age')"
                           ng-model="user_trainingage"> Mostrar </md-switch>
            </div>
            {{$setValidity(frm1.$valid, 1)}}
        </form>
    </md-content>
<script>
    $("#upload_link").on('click', function (e) {
        e.preventDefault();
        $("#picture").trigger('click');
    });
</script>