<meta charset="utf-8">
<div layout="column" layout-padding>
    <div>
        <span class="cpt-title">SUSCRIPCIONES</span>
          </div>
    <span class="cpt-info">Haz clic sobre la suscripción para ver detalles</span>
  <br />  <br />
    <div layout="column" layout-padding>
        <span style="color:#000; font-weight: bold">Sucripciones activas</span>
        <md-table-container>
            <table md-table md-row-select ng-model="selected" md-progress="promise">
                <thead md-head >
                    <tr md-row md-auto-select>
                        <th class="md-column">SUSCRIPCIÓN</th>
                        <th class="md-column">ESTADO</th>
                        <th class="md-column">FECHA</th>
                        <th class="md-column">PRÓXIMO PAGO</th>
                        <th class="md-column">TOTAL</th>
                </thead>
                <tbody md-body>
                    <!--<tr md-row md-select="configurationPlan" md-select-id="trainingPlanId.name" md-auto-select ng-repeat="configurationPlan in suscriptionList">
                <td md-cell>{{configurationPlan.trainingPlanId.name}}</td>
                <td md-cell>{{configurationPlan.communicationRoleId.name}}</td>
                <td md-cell>{{configurationPlan.audioDuration}}</td>
                <td md-cell>{{configurationPlan.audioEmergency}}</td>
                </tr>-->
                    <tr md-row>
                        <td md-cell>#1216</td>
                        <td md-cell>Pagado</td>
                        <td md-cell>12/12/2016</td>
                        <td md-cell>12/02/2017</td>
                        <td md-cell>USD: $20.000</td>
                    </tr>
                       <tr md-row>
                        <td md-cell>#1909</td>
                        <td md-cell>Pagado</td>
                        <td md-cell>26/12/2016</td>
                        <td md-cell>25/02/2017</td>
                        <td md-cell>USD: $20.000</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
       <!-- <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{count}}" md-on-paginate="getSuscriptionsPaginate" md-page-select></md-table-pagination>-->
         <br />  <br />
       <span style="color:#000; font-weight: bold">Sucripción #1216</span>
       <md-card>
           <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column><span style="font-weight: bold; color: #0064F8" >PRODUCTO</span></th>
                                    <th md-column><span style="font-weight: bold; color: #0064F8" >ESTADO</span></th>
                                    <th md-column><span style="font-weight: bold; color: #0064F8" >FECHA</span></th>
                                    <th md-column><span style="font-weight: bold; color: #0064F8" >PRÓXIMO PAGO</span></th>
                                    <th md-column><span style="font-weight: bold; color: #0064F8" >TOTAL</span></th>
                                    <th md-column><span style="font-weight: bold; color: #0064F8" >MÉTODO DE PAGO</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row  md-auto-select>
                                    <td>Jairo Londoño</td>
                                    <td>Pagado</td>
                                    <td>26/12/2016</td>
                                    <td>25/02/2017</td>
                                    <td>USD: $20.00</td>
                                    <td>PayPal</td>
                                </tr>
                            </tbody>
                        </table>
       </md-card>
    </div>
        <div layout="row">
        <md-button class="md-raised" ng-click="go('/account')"><img src="static/img/left.png"> REGRESAR</md-button>
        </div>
</div>