<md-dialog aria-label="{{ 'ADD_PLAN_CHARACTERISTIC_MODALITY' | translate }}" style="width: 80%;height: 650px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'ADD_PLAN_CHARACTERISTIC_MODALITY' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
        </div>
    </md-toolbar>

    <div class="demo-md-panel md-padding">
        <md-content layout-padding>
            <span class="md-headline">{{ 'ADD_PLAN_CHARACTERISTIC_MODALITY' | translate }}</span>

            <form  name="formPlanCharacteristic" novalidate>
                <input type="hidden" ng-model="planCharacteristic.trainingPlanCharactId" />

                <div layout="row"> 
                    <div flex="33">
                        <md-input-container class="md-block" >
                            <label>Rol *</label>
                            <md-select id="communicationRole" ng-model="configurationPlan.communicationRoleId.roleId">
                                <md-option ng-repeat="d in communicationRoleList" value="{{d.roleId}}" >
                                    {{d.name}}
                                </md-option>
                            </md-select>
                            <div class="has-error" ng-messages="formConfigurationPlan.communicationRole.$error">
                                <div ng-message="required">{{ 'REQUIRED_FIELD_TEXT' | translate }}</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Cantidad de audios" style=" display: inline" ng-model="configurationPlan.audioCount">
                        </md-input-container>
                    </div>
                </div>

                <div layout="row"> 
                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Duraci&oacute;n del audio" style=" display: inline" ng-model="configurationPlan.audioDuration">
                        </md-input-container>
                    </div>

                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Cantidad de audios de emergencia" style=" display: inline" ng-model="configurationPlan.audioEmergency">
                        </md-input-container>
                    </div>
                </div>

                <div layout="row"> 
                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Cantidad de email" style=" display: inline" ng-model="configurationPlan.emailCount">
                        </md-input-container>
                    </div>

                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Cantidad de email de emergencia" style=" display: inline" ng-model="configurationPlan.emailEmergency">
                        </md-input-container>
                    </div>
                </div>

                <div layout="row"> 
                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Cantidad de mensajes" style=" display: inline" ng-model="configurationPlan.messageCount">
                        </md-input-container>
                    </div>

                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Cantidad de mensajes de emergencia" style=" display: inline" ng-model="configurationPlan.messageEmergency">
                        </md-input-container>
                    </div>
                </div>

                <div layout="row"> 
                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Cantidad de videos" style=" display: inline" ng-model="configurationPlan.videoCount">
                        </md-input-container>
                    </div>

                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Duraci&oacute;n de video" style=" display: inline" ng-model="configurationPlan.videoDuration">
                        </md-input-container>
                    </div>
                </div>

                <div layout="row"> 
                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Cantidad de videos de emergencia" style=" display: inline" ng-model="configurationPlan.videoEmergency">
                        </md-input-container>
                    </div>

                    <div flex="33">
                        <md-input-container class="md-block">
                            <input type="number" class="form-control input-sm" placeholder="Cantidad de atletas" style=" display: inline" ng-model="configurationPlan.athletesCount">
                        </md-input-container>
                    </div>
                </div>

                <div layout="row"> 
                    <div flex="66">
                        <md-input-container class="md-block" >
                            <label>Caracter&iacute;stica</label>
                            <md-select ng-change="validateValueTypeVisible()" ng-model="planCharacteristic.characteristicId.characteristicId">
                                <md-option ng-repeat="d in characteristicList" value="{{d.characteristicId}}" >
                                    {{d.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>

                <div layout="row" ng-show="visibleCharact">
                    <div flex="66">
                        <md-input-container class="md-block" >
                            <md-input-container class="md-block">
                                <input type="number" placeholder="{{ 'VALUE' | translate }}" class="form-control input-sm" style=" display: inline;color:black" 
                                       ng-model="planCharacteristic.value">
                                <div class="has-error" ng-messages="formPlanCharacteristic.value.$error">
                                    <div ng-message="required">{{ 'REQUIRED_FIELD_TEXT' | translate }}</div>
                                </div>
                            </md-input-container>
                        </md-input-container>
                    </div>
                </div>

                <section layout="row" layout-sm="column" layout-align="left" layout-wrap>
                    <md-button ng-click="submitPlanCharacteristic(formPlanCharacteristic)" class="md-raised md-primary">{{ 'GUARDAR_TEXT' | translate }}</md-button>
                    <md-button ng-click="cancel()" class="md-raised md-primary">{{ 'CANCELAR' | translate }}</md-button>
                    <md-button ng-click="sincronizar()" class="md-raised md-primary">Sincronizar</md-button>
                </section>

            </form>
        </md-content>
    </div>


    <table md-table ng-model="selected" md-progress="promise">
        <thead md-head md-order="queryconf.order" md-on-reorder="getConfigurationPlanPaginate">
            <tr md-row>
                <th md-column class="md-column">Opciones</th>
                <th md-column md-order-by="trainingPlanId.name" class="md-column">Plan</th>
                <th md-column md-order-by="communicationRoleId.name" class="md-column">Rol</th>
                <th md-column md-order-by="audioDuration" class="md-column">Dur. Audio</th>
                <th md-column md-order-by="audioEmergency" class="md-column">Emerg. Audio</th>
                <th md-column md-order-by="audioCount" class="md-column">Cant. Audio</th>
                <th md-column md-order-by="emailEmergency" class="md-column">Emerg. Email</th>
                <th md-column md-order-by="emailCount" class="md-column">Cant. Email</th>
                <th md-column md-order-by="messageEmergency" class="md-column">Emerg. Mensaje</th>
                <th md-column md-order-by="messageCount" class="md-column">Cant. Mensaje</th>
                <th md-column md-order-by="videoDuration" class="md-column">Dur. Video</th>
                <th md-column md-order-by="videoEmergency" class="md-column">Emerg. Video</th>
                <th md-column md-order-by="videoCount" class="md-column">Cant. Video</th>
                <th md-column md-order-by="athletesCount" class="md-column">Cant. Atletas</th>
<!--                <th md-column md-order-by="userCreate">{{ 'USER_CREATE' | translate }}</th>
                <th md-column md-order-by="creationDate">{{ 'CREATION_DATE' | translate }}</th>
                <th md-column md-order-by="userUpdate">{{ 'USER_UPDATE' | translate }}</th>
                <th md-column md-order-by="lastUpdate">{{ 'LAST_UPDATE' | translate }}</th>-->
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="configurationPlan" md-select-id="trainingPlanId.name" md-auto-select ng-repeat="configurationPlan in configurationPlanList">
                <td>
        <md-button type="button" ng-click="editConfigurationPlan(configurationPlan.configurationPlanId, $event)" class="md-raised md-primary" title="{{ 'EDIT' | translate }}" ng-style="{ 'margin':'0px 0px', 'font-size':'15px', 'height':'10px', 'min-width': '10px'}"><i class="fa fa-pencil" aria-hidden="true"></i></md-button>  
        <md-button type="button" ng-click="deleteConfigurationPlan(configurationPlan.configurationPlanId)" class="md-raised md-warn" title="{{ 'DELETE' | translate }}" ng-style="{ 'margin':'0px 0px', 'font-size':'15px', 'height':'10px', 'min-width': '10px'}"><i class="fa fa-trash" aria-hidden="true"></i></md-button>
        </td>
        <td md-cell>{{configurationPlan.trainingPlanId.name}}</td>
        <td md-cell>{{configurationPlan.communicationRoleId.name}}</td>
        <td md-cell>{{configurationPlan.audioDuration}}</td>
        <td md-cell>{{configurationPlan.audioEmergency}}</td>
        <td md-cell>{{configurationPlan.audioCount}}</td>
        <td md-cell>{{configurationPlan.emailEmergency}}</td>
        <td md-cell>{{configurationPlan.emailCount}}</td>
        <td md-cell>{{configurationPlan.messageEmergency}}</td>
        <td md-cell>{{configurationPlan.messageCount}}</td>
        <td md-cell>{{configurationPlan.videoDuration}}</td>
        <td md-cell>{{configurationPlan.videoEmergency}}</td>
        <td md-cell>{{configurationPlan.videoCount}}</td>
        <td md-cell>{{configurationPlan.athletesCount}}</td>
<!--        <td md-cell>{{configurationPlan.userCreateName}}</td>
        <td md-cell>{{configurationPlan.creationDate}}</td>
        <td md-cell>{{configurationPlan.userUpdateName}}</td>
        <td md-cell>{{configurationPlan.lastUpdate}}</td>-->
        </tr>
        </tbody>
    </table>

    <table md-table ng-model="selectedPlan" md-progress="promise">
        <thead md-head> 
            <tr md-row>
                <th md-column class="md-column">{{ 'OPTIONS' | translate }}</th>
                <th md-column class="md-column">{{ 'CHARACTERISTIC' | translate }}</th>
                <th md-column class="md-column">{{ 'VALUE' | translate }}</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="trainingPlanCharactId"  md-select-id="trainingPlanId.name" md-auto-select ng-repeat="trainingPlanCharactId in planCharacteristicList">
                <td>
        <md-button type="button" ng-click="deletePlanCharacteristic(trainingPlanCharactId.trainingPlanCharactId)" class="md-raised md-warn" title="{{ 'DELETE' | translate }}" ng-style="{ 'font-size':'20px', 'height':'20px', 'min-width': '35px'}"><i class="fa fa-trash" aria-hidden="true"></i></md-button>
        </td>
        <td md-cell>{{trainingPlanCharactId.characteristicId.name}}</td>    
        <td md-cell>{{trainingPlanCharactId.value}}</td>
        </tr>
        </tbody>
    </table>

</md-dialog>