<div class="demo-md-panel md-padding" style="margin-left:-10%">
    <md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show">
        <div class="md-toolbar-tools">
            <span>Lista de {{tipoPlanText}}</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="filter.show = true" aria-label="filter_list"
                       ng-style="{'font-size':'20px', 'height':'20px', 'min-width': '35px'}">
            <i class="fa fa-search" aria-hidden="true"></i>
            </md-button>
            <md-button class=" md-raised  md-primary" title="{{ 'CREATE' | translate }}" ng-click="openTrainingPlan($event)" 
                       ng-style="{'color':'white', 'font-size':'20px', 'height':'20px', 'min-width': '35px'}">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show" aria-hidden="true">
        <div class="md-toolbar-tools">
            <i class="fa fa-search" aria-hidden="true"></i>
            <form flex="" name="filter.form" class="ng-valid flex ng-valid-parse ng-pristine">
                <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="{{ 'SEARCH' | translate }}" 
                       class="ng-valid ng-valid-parse ng-touched ng-pristine" aria-invalid="false">
            </form>
            <md-button class=" md-button md-ink-ripple" type="button"  ng-click="removeFilter()" aria-label="close" 
                       ng-style="{'font-size':'20px', 'height':'20px', 'min-width': '35px'}">
                <i class="fa fa-times" aria-hidden="true"></i>
                
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getTrainingPlanPaginate">
                <tr md-row>
                    <th md-column class="md-column" style="    width: 140px;
    display: -webkit-inline-box;
    margin-bottom: -30px;">Opciones</th>
                    <th md-column md-order-by="name" class="md-column">Nombre</th>
                    <th md-column md-order-by="description" class="md-column">Descripci&oacute;n</th>
                    <th md-column md-order-by="duration" class="md-column">Duraci&oacute;n</th>
                    <th md-column md-order-by="price" class="md-column">Precio</th>
                    <th md-column md-order-by="userCreate">{{ 'USER_CREATE' | translate }}</th>
                    <th md-column md-order-by="creationDate">{{ 'CREATION_DATE' | translate }}</th>
                    <th md-column md-order-by="userUpdate">{{ 'USER_UPDATE' | translate }}</th>
                    <th md-column md-order-by="lastUpdate">{{ 'LAST_UPDATE' | translate }}</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="trainingPlan" md-select-id="name" md-auto-select ng-repeat="trainingPlan in trainingPlanList| filter: filter.search">
                <td md-cell>
                    <md-button type="button" ng-click="editTrainingPlan(trainingPlan.trainingPlanId, $event)" class="md-raised md-primary" title="{{ 'EDIT' | translate }}" ng-style="{ 'margin':'0px 0px', 'font-size':'15px', 'height':'10px', 'min-width': '10px'}"><i class="fa fa-pencil" aria-hidden="true"></i></md-button>  
                    <md-button ng-show="trainingPlan.stateId == 0" type="button" ng-click="activateTrainingPlan(trainingPlan.trainingPlanId)"  ng-style="{ 'margin':'0px 0px','font-size':'15px', 'height':'10px', 'min-width': '10px'}" class="md-raised  md-primary" title="{{ 'ACTIVATE' | translate }}"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></md-button>
                    <md-button ng-show="trainingPlan.stateId == 1" type="button" ng-click="inactivateTrainingPlan(trainingPlan.trainingPlanId)"  ng-style="{color: 'yellow', 'margin':'0px 0px','font-size':'15px', 'height':'10px', 'min-width': '10px'}" class="md-raised md-primary" title="{{ 'INACTIVATE' | translate }}" ><i class="fa fa-lightbulb-o" aria-hidden="true"></i></md-button>
                    <md-button type="button" ng-click="deleteTrainingPlan(trainingPlan.trainingPlanId)" class="md-raised md-warn" title="{{ 'DELETE' | translate }}" ng-style="{ 'margin':'0px 0px','font-size':'15px', 'height':'10px', 'min-width': '10px'}"><i class="fa fa-trash" aria-hidden="true"></i></md-button>
                    <md-button type="button" ng-click="showCharac($event, trainingPlan)" class="md-raised md-primary" title="Configurar" ng-style="{ 'margin':'0px 0px','font-size':'15px', 'height':'10px', 'min-width': '10px'}"><i class="fa fa-cogs" aria-hidden="true"></i></md-button>

                </td>
                    <td md-cell>{{trainingPlan.name}}</td>
                    <td md-cell>{{trainingPlan.description}}</td>
                    <td md-cell>{{trainingPlan.duration}}</td>
                    <td md-cell>{{trainingPlan.price}}</td>
                    <td md-cell>{{trainingPlan.userCreateName}}</td>
                    <td md-cell>{{trainingPlan.creationDate}}</td>
                    <td md-cell>{{trainingPlan.userUpdateName}}</td>
                    <td md-cell>{{trainingPlan.lastUpdate}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{count}}" md-on-paginate="getTrainingPlanPaginate" md-page-select></md-table-pagination>
</div>