<div layout="column">
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <img class="circular" data-ng-src="{{userSession.planSelected.coachUserId.profilePhotoBase64}}" style="height: 50px; width: 50px;"/>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Asesor</span>
                <span class="md-subhead">{{userSession.planSelected.coachUserId.fullName}}</span>
                <span class="md-caption">Audios disponibles {{availableAudioAsesor}} de {{audioPlanAsesor}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="column" layout-align="center">
            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary" ng-click="showAsesorRecord()">Grabar un audio</md-button>
            </div>
            <ang-accordion>
                <collapsible-item item-title="Recibidos">
                    <div layout="column" layout-align="center center" ng-if="!loadingReceivedAsesor">
                        <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                        <span>Cargando Audios..</span>
                    </div>
                    <md-list class="md-dense" flex >
                        <md-list-item ng-click="null" class="md-2-line" ng-repeat="vr  in receivedAsesor| orderBy:'creationDate':false">
                            <div class="md-list-item-text">
                                <p>Audio {{$index+1}}</p>
                            </div>
                            <md-subheader class="md-no-sticky">{{vr.createDate}}</md-subheader>
                            <md-button aria-label="play" class="md-fab md-mini md-primary" ng-click="playAudioAsesor(vr.name, vr.id, 'to')">
                                <md-tooltip md-direction="right" md-visible="tooltipVisible">Reproducir Audio</md-tooltip>
                                <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>
                            </md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <div id="recordedReceivedAsesor"></div>
                </collapsible-item>
                <collapsible-item item-title="Enviados">
                    <div layout="column" layout-align="center center" ng-if="!loadingSentAsesor">
                        <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                        <span>Cargando Audios..</span>
                    </div>
                    <md-list class="md-dense" flex >
                        <md-list-item ng-click="null" class="md-2-line" ng-repeat="vr  in sendedAsesor| orderBy:'creationDate':false">
                            <div class="md-list-item-text">
                                <p>Audio {{$index+1}}</p>
                            </div>
                            <md-subheader class="md-no-sticky">{{vr.createDate}}</md-subheader>
                            <md-button aria-label="play" class="md-fab md-mini md-primary" ng-click="playAudioAsesor(vr.name, vr.id, 'from')">
                                <md-tooltip md-direction="right" md-visible="tooltipVisible">Reproducir Audio</md-tooltip>
                                <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>
                            </md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <div id="recordedAsesor"></div>
                </collapsible-item>
            </ang-accordion>
        </md-card-content>
    </md-card>
</div>