<md-content layout-padding id="audioContent" ng-controller="AudioMessageController">
    <div layout="row" layout-align="center">

        <div flex="50"  layout-align="center center">
            <div  ng-include src="'static/views/audioMessage/audioRecord.html'"></div>

        </div>
        <div flex="60" >
            <div  ng-include src="'static/views/audioMessage/sent.html'"></div>
            
            <div  ng-include src="'static/views/audioMessage/received.html'"></div>
        </div>

    </div>
</md-content>
<script>

    function onUpload() {
        var scope = angular.element($("#audioContent")).scope();
        scope.$apply(function () {
            scope.uploadRecord();
        });
    }
</script>