<!--<md-content layout-padding id="audioContent">
    <div layout="row" layout-align="center">

        <div flex="50"  layout-align="center center">
            <md-tabs md-dynamic-height md-selected="selectedIndex">
                <md-tab label="Grabar Audio">
                    <md-content class="md-padding">
                        <ng-audio-recorder id='audioInput'  audio-model='recordedInput' ng-show="timeLimit > 0" show-player="false" time-limit="timeLimit">
                            <div ng-if="recorder.isAvailable">
                                <div layout="column" layout-align="center center">
                                    <div layout="row" layout-align="space-around center" flex>
                                        <img id="record" data-ng-src="static/img/mic128.png"   ng-class="recorder.status.isRecording ? 'recording' : ''">
                                        <md-button class="md-fab md-mini" aria-label="elapsed time">
                                            {{recorder.elapsedTime}}
                                        </md-button>  
                                    </div>
                                    <div flex>
                                        <md-button aria-label="play"  class="md-fab md-mini md-primary" ng-click="recorder.startRecord()" ng-disabled="recorder.status.isRecording">
                                            <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Empezar Grabaci&oacute;n</md-tooltip>
                                            <i class="fa fa-microphone fa-lg" aria-hidden="true"></i>
                                        </md-button>
                                        <md-button aria-label="stop" class="md-fab md-mini md-primary" ng-click="recorder.stopRecord()" ng-disabled="recorder.status.isRecording === false">
                                            <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Detener</md-tooltip>
                                            <i class="fa fa-stop fa-lg" aria-hidden="true"></i>
                                        </md-button>
                                        <md-button aria-label="playBack" class="md-fab md-mini md-primary" ng-click="recorder.playbackRecording()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                                            <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Reproducir</md-tooltip>
                                            <i class="fa fa fa-play fa-lg" aria-hidden="true"></i>
                                        </md-button>
                                        <md-button aria-label="upload"  class="md-fab md-mini md-primary" onclick="onUpload()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                                            <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Cargar Audio</md-tooltip>
                                            <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
                                        </md-button>
                                    </div>

                                </div>
                            </div>

                            <div ng-if="!recorder.isAvailable">
                                Message for users when recording is not possible.
                            </div>
                        </ng-audio-recorder>
                        <div layout="row" ng-if="timeLimit == 0" layout-align="center">
                            No tiene tiempo configurado para enviar mensajes de audio.  
                        </div>

                    </md-content>
                </md-tab>
                <md-tab label="Reproducir Audio">
                    <md-content class="md-padding">
                        <div layout="column" layout-align="center center">
                            <div flex>
                                <i class="fa fa-volume-up fa-5x" aria-hidden="true"></i>

                            </div>
                            <div id="recorded" flex>

                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>

        </div>
        <div flex="60" >
            <div  ng-include src="'static/views/audioMessage/sent.html'"></div>

            <div  ng-include src="'static/views/audioMessage/received.html'"></div>
        </div>

    </div>
</md-content>
<script>

    function onUpload() {
        var scope = angular.element($("#audioContent")).scope();
        scope.$apply(function () {
            scope.uploadRecord();
        });
    }
</script>-->
<md-content id="audioContent">
    <div layout="row" layout-padding>
    <span class="cpt-title">AUDIOS</span>
    </div>
    <div layout="row" layout-align="space-around none">
        <div flex ng-include src="'static/views/audioMessage/audioAsesor.html'"></div>
        <div flex ng-include src="'static/views/audioMessage/audioStar.html'"></div>
    </div>
</md-content>