<meta charset="utf-8">
<div layout="column" layout-padding>
    <div layout="row">
        <div flex>
            <span class="cpt-title">DATOS PERSONALES</span>
            <br />
            <div layout="row" layout-padding>
                <div flex="30">
                    <img data-ng-src="{{athleteImage}}" class="circular" style="height: 130px; width: 131px;">
                </div>
                <div layout="column" layout-padding>
                    <span class="sub-title" style="text-transform: uppercase; font-weight: bold">{{userProfile.fullName}}</span>
                    <br />
                    <div>
                        <span style="color: #0064F8; font-weight: bold">Sexo:</span>
                        <span>{{userProfile.sex}}</span>
                    </div>
                    <div>
                        <span style="color: #0064F8; font-weight: bold">Fecha de nacimiento:</span>
                        <span>{{userProfile.birthDate}}</span>
                    </div>
                    <div>
                        <span style="color: #0064F8; font-weight: bold">Edad:</span>
                        <span>{{userProfile.age}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div flex>
            <span class="cpt-title">DATOS DE CONTACTO</span>
            <br />
            <div layout="column" layout-padding>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Correo electrónico:</span>
                    <span>{{userProfile.email}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Celular:</span>
                    <span>{{userProfile.cellphone}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">País de residencia:</span>
                    <span>{{userProfile.country}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Ciudad:</span>
                    <span>{{userProfile.city}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Código postal:</span>
                    <span>{{userProfile.postalCode}}</span>
                </div>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row">
        <div flex>
            <span class="cpt-title">DATOS DEPORTIVOS</span>
            <br />
            <div layout="column" layout-padding>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Disciplina deportiva:</span>
                    <span>{{userProfile.discipline}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Objetivo:</span>
                    <span>{{userProfile.objective}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Modalidad:</span>
                    <span>{{userProfile.modality}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Entorno geográfico:</span>
                    <span>{{userProfile.environment}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Clima:</span>
                    <span>{{userProfile.weather}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Edad deportiva:</span>
                    <span>{{userProfile.ageSport}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Peso(Kg):</span>
                    <span>{{userProfile.weight}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Altura:</span>
                    <span>{{userProfile.height}}</span>
                </div>
            </div>
        </div>
        <div flex>
            <div layout="column" layout-padding>
                <div>
                    <span style="color: #0064F8; font-weight: bold">IMC:</span>
                    <span>{{userProfile.imc}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Lesiones:</span>
                    <span>{{userProfile.injury}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Enfermedades:</span>
                    <span>{{userProfile.disease}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Disponibilidad de entrenamiento:</span>
                    <span>{{userProfile.availability}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">¿Practicas otro deporte?:</span>
                    <span>{{userProfile.weather}}</span>
                </div>
            </div>
        </div>

    </div>
    <md-divider></md-divider>
    <div layout="row">
        <div flex>
              <span class="cpt-title">DATOS DE SALUD</span>
              <br />
            <div layout="column" layout-padding>
                <div>
                    <span style="color: #0064F8; font-weight: bold">¿Tienes pulsómetro?:</span>
                    <span>{{userProfile.pulsometer}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">¿Cual?:</span>
                    <span>{{userProfile.pulsometer}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Modelo:</span>
                    <span>{{userProfile.modelPulsometer}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Umbral aeróbico:</span>
                    <span>{{userProfile.ppm}}</span>
                </div>
            </div>
        </div>
        <div flex>
            <div layout="column" layout-padding>
                <div>
                    <span style="color: #0064F8; font-weight: bold">¿Tienes potenciómetro?:</span>
                    <span>{{userProfile.potentiometer}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">¿Cual?</span>
                    <span>{{userProfile.potentiometer}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Modelo:</span>
                    <span>{{userProfile.modelPotentiometer}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Potencia:</span>
                    <span>{{userProfile.power}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">VO2 máximo Running:</span>
                    <span>{{userProfile.vo2Running}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">VO2 máximo Ciclismo:</span>
                    <span>{{userProfile.vo2Ciclismo}}</span>
                </div>
            </div>
        </div>
        <div flex>
            <div layout="column" layout-padding>
                <div>
                    <span style="color: #0064F8; font-weight: bold">¿Tienes bicicleta?:</span>
                    <span>{{userProfile.bikes}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Tipo de bicicleta</span>
                    <span>{{userProfile.bikes}}</span>
                </div>

                <div>
                    <span style="color: #0064F8; font-weight: bold">¿Qué tipo de zapato usas para correr?:</span>
                    <span>{{userProfile.shoes}}</span>
                </div>
                <div>
                    <span style="color: #0064F8; font-weight: bold">Sistema de medición:</span>
                    <span>{{userProfile.indMetricSys}}</span>
                </div>
            </div>
        </div>
    </div>
</div>