<div layout="column">
    <md-content style="background: #1C2127;">
        <div layout="row" layout-align="center">
            <a href="javascript:location.href=$wordPressContextPath">
                <img src="static/img/logo-blanco.png" width="300" height="150" alt="Custom Pro Training">
            </a>
        </div>
        <div layout="column" layout-margin layout-align="space-around center" flex>
            <a  href="#asesor-profile" >
                <img class="circular" data-ng-src="{{profileImage}}" style="height: 130px; width: 131px;">
                <md-tooltip md-direction="right">
                    Ver Perfil
                </md-tooltip>
            </a>
            <span style="color: #FFFFFF; text-transform: uppercase">{{userSession.fullName}}</span>
            <span class="md-caption" style="color: #00E8E8">{{userSession.dashboard.federalState}},{{userSession.dashboard.city}},{{userSession.dashboard.country}}</span>
        </div>
        <md-divider></md-divider>
        <md-list class="md-dense" flex>
            <md-list-item class="md-2-line" ng-click="go('/dashboard-asesor', 1)" >
                <div flex="25" ng-class="{selectedIndex: selectedIndex === 1}">
                    <md-icon><img src="static/img/init.png"></md-icon>
                </div>
                <div flex layout-padding class="md-list-item-text">
                    <span style="color: #00E8E8">INICIO</span>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="go('/athletes', 2)" >
                <div flex="25" ng-class="{selectedIndex: selectedIndex === 2}">
                    <md-icon><img src="static/img/my_athletes.png"></md-icon>
                </div>
                <div flex layout-padding class="md-list-item-text">
                    <span style="color: #00E8E8">MIS ATLETAS</span>
                </div>
                <div ng-if="listNotification.length > 0" class="circle_notification">{{listNotification.length}}</div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="go('/stars', 3)" >
                <div flex="25" ng-class="{selectedIndex: selectedIndex === 3}">
                     <md-icon><img src="static/img/my_stars.png"></md-icon>
                </div>
                <div flex layout-padding class="md-list-item-text">
                    <span style="color: #00E8E8">MIS ESTRELLAS</span>
                </div>
                <div ng-if="starReceivedCount > 0" class="circle_notification">{{starReceivedCount}}</div>
                <md-divider ></md-divider>
            </md-list-item>            
        </md-list>
    </md-content>
</div>