<meta charset="utf-8"> 
<div>
    <div layout="row" layout-align="space-around center">
        <div layout="column" layout-align="center center">
            
            <div layout="row" layout-align="center center">
                <div class="circle_aqua"></div>
                &nbsp;
                <span style="color: #0064F8">ACTIVIDAD</span>
            </div>
            <div  class="c100 p70">
                <span class="number_dash">{{numActivities}}</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <span style="color: #0064F8">META {{weekActivities.length}}</span>
        </div>
        <div layout="column" layout-align="center center">
            <div layout="row" layout-align="center center">
                <div class="circle_aqua"></div>
                &nbsp;
            <span style="color: #0064F8">CALOR&Iacute;AS</span>
            </div>
            <div  class="c100 p70">
                <span class="number_dash">{{numCalories}} kcal</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <span>&nbsp;</span>
            <!--<span style="color: #0064F8">META: 950 KCAL</span>-->
        </div>
        <div layout="column" layout-align="center center">
            <div layout="row" layout-align="center center">
                <div class="circle_aqua"></div>
                &nbsp;
            <span style="color: #0064F8">DISTANCIA</span>
            </div>
            <div  class="c100 p70">
                <span class="number_dash">{{numDistance}} km</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <span>&nbsp;</span>
        </div>
        <div layout="column" layout-align="center center">
            <div layout="row" layout-align="center center">
                <div class="circle_aqua"></div>
                &nbsp;
            <span style="color: #0064F8">VELOCIDAD MEDIA</span>
            </div>
            <div  class="c100 p70">
                <span class="number_dash">{{speedAverage}}km/h</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <span>&nbsp;</span>
            <!--<span style="color: #0064F8">META: 85 KM/H</span>-->
        </div>
    </div>
    <br /><br />
    <div>
        <div layout="row" style="color: #0064F8">
            <md-subheader>Filtros&nbsp;></md-subheader>
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="getChart(1,false)" name="day">Día</md-nav-item>
                <md-nav-item md-nav-click="getChart(7,true)" name="week">Semana</md-nav-item>
                <md-nav-item md-nav-click="getChart(30,false)" name="sixmonths">Mes</md-nav-item>
                <md-nav-item md-nav-click="getChart(365,false)" name="twelvemonths">Año</md-nav-item>
            </md-nav-bar>
        </div>
    </div>   
    <center><h3></h3></center>
</div>
<div layout="column" ng-cloak>
    <div id="chartContainer" flex style="height: 300px;">
    </div>
    <!--<md-radio-group ng-model="chartSelected" md-no-ink >
        <div layout="row" layout-align="space-between center">
            <div layout="column" >

                <md-radio-button value="1" ng-click="getReport(1, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'ACTIVITIES' | translate }} </span></md-radio-button>
                <md-radio-button value="2" ng-click="getReport(2, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'TOTAL_CALORIES' | translate }}</span></md-radio-button>

            </div>
            <div layout="column" >

                <md-radio-button value="3" ng-click="getReport(3, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'TOTAL_DISTANCE' | translate }}</span></md-radio-button>
                <md-radio-button value="4" ng-click="getReport(4, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'MAX_HEART_RATE' | translate }}</span></md-radio-button>

            </div>
            <div layout="column" >

                <md-radio-button value="5" ng-click="getReport(5, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'AVERAGE_HEART_RATE' | translate }}</span></md-radio-button>
                <md-radio-button value="6" ng-click="getReport(6, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'AVERAGE_PACE' | translate }}</span></md-radio-button>

            </div>
            <div layout="column" >

                <md-radio-button value="7" ng-click="getReport(7, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'POTENCIA_MAXIMA' | translate }}</span></md-radio-button>

            </div>
        </div>
    </md-radio-group>-->

</div>