<div layout="row" ng-show="appReady" id="dashboard-container" layout-align="center center">
    <div flex="30" ng-if="userSession.typeUser == 'Coach'">
        <div style="height: 800px;"  ng-include src="'static/views/dashboard/tabsDashboard.html'"></div>
    </div>
    <div flex="90"  style="height: 800px; border: 1px solid #e1e1e1; margin: 5px" >


        <div layout="row" >
            <div layout="column" layout-align="space-around center" flex>

                <span class="md-headline" ng-if="userSession.typeUser == 'Coach'">Coach</span>
                <span class="md-headline" ng-if="userSession.typeUser == 'Atleta'">Atleta</span>
                <a href="#data-person" >
                    <img class="circular" data-ng-src="{{profileImage}}" style="height: 250px; width: 250px;">
                    <md-tooltip md-direction="right">
                        Ver Perfil
                    </md-tooltip>
                </a>
                <h3> {{user.name}} {{user.secondName}} {{user.lastName}}</h3>
            </div>
            <div flex layout="column" layout-align="space-around center">

                <a href="#calendar" >
                    <img data-ng-src="static/img/calendar_icon.jpg" style="height: 80px; width: 130px;">
                    <md-tooltip md-direction="right">
                        Ver Calendario
                    </md-tooltip>
                </a>
                <h3> Calendario </h3>
                <a href="#">
                    <img data-ng-src="static/img/graphic_icon.jpg" style="height: 80px; width: 130px;">
                    <md-tooltip md-direction="right">
                        Ver Gr&aacute;ficas de Desempe&ntilde;o
                    </md-tooltip>
                </a>
                <h3> Gr&aacute;ficos </h3>

            </div>

        </div>
        <div layout="row" > 

            <div flex="33" >
                <div layout="column" layout-align="space-around center">
                    <!--Datos Personales Title-->
                    <span class="md-headline">Datos Personales</span>
                    <!--Panel de Datos Personales-->
                    <div style="margin-top: 2%;">
                        <div ng-show="visibleField('user_training', 'email')">

                            <md-subheader>Correo Electr&oacute;nico</md-subheader>

                            {{user.email}}

                        </div>

                        <div ng-show="visibleField('user_training', 'sex')">

                            <md-subheader>Sexo</md-subheader>
                            <div  ng-show="user.sex == 'f'">
                                Femenino
                            </div>

                            <div  ng-show="user.sex == 'm'">
                                Masculino
                            </div>

                        </div>

                        <div  ng-show="visibleField('user_training', 'age')">

                            <md-subheader>Edad</md-subheader>

                            {{user.age}}


                        </div>

                        <div  ng-show="visibleField('user_training', 'phone')">

                            <md-subheader>Tel&eacute;fono Fijo</md-subheader>

                            {{user.phone}}


                        </div>

                        <div class="row" ng-show="visibleField('user_training', 'cellphone')">

                            <md-subheader>Celular</md-subheader>

                            {{user.cellphone}}

                        </div>

                        <div class="row" >

                            <md-subheader>Pa&iacute;s</md-subheader>

                            {{user.country}}

                        </div>

                        <div class="row">

                            <md-subheader>Estado</md-subheader>

                            {{user.federalState}}

                        </div>

                        <div class="row">

                            <md-subheader>Ciudad</md-subheader>

                            {{user.city}}

                        </div>

                        <div class="row" ng-show="visibleField('user_training', 'address')">

                            <md-subheader>Direcci&oacute;n</md-subheader>

                            {{user.address}}

                        </div>

                        <div class="row" ng-show="visibleField('user_training', 'postal_code')">

                            <md-subheader>C&oacute;digo Postal</md-subheader>

                            {{user.postalCode}}

                        </div>

                        <div class="row" ng-show="visibleField('user_training', 'birth_date')">

                            <md-subheader>Fecha de Nacimiento</md-subheader>

                            {{user.birthDate}}

                        </div>

                        <div class="row" ng-show="visibleField('user_training', 'facebook_page')">

                            <md-subheader>P&aacute;gina de Facebook </md-subheader>

                            {{user.facebookPage}}

                        </div>

                        <div class="row" ng-show="visibleField('user_training', 'twitter_page')">

                            <md-subheader>P&aacute;gina de Twitter </md-subheader>

                            {{user.twitterPage}}

                        </div>

                        <div class="row" ng-show="visibleField('user_training', 'instagram_page')">

                            <md-subheader>P&aacute;gina de Instagram </md-subheader>

                            {{user.instagramPage}}

                        </div>

                        <div class="row" ng-show="visibleField('user_training', 'web_page')">

                            <md-subheader>P&aacute;gina Web </md-subheader>

                            {{user.webPage}}

                        </div>
                    </div>
                </div>
            </div>
            <div flex >
                <div layout="column" >
                    <!--Datos Deportivos Title-->
                    <div  ng-show="visibleField('user_profile', null)" >

                        <span class="md-headline">Datos Deportivos</span>

                    </div>
                    <div  style="margin-top: 2%">
                        <div ng-show="visibleField('user_profile', 'objective')">

                            <md-subheader>Objetivo</md-subheader>

                            {{user.objective}}


                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'discipline')">

                            <md-subheader>Disciplina Deportiva</md-subheader>

                            {{user.discipline}}

                        </div>


                        <div class="row" ng-show="visibleField('user_profile', 'modality')">

                            <md-subheader>Modalidad</md-subheader>

                            {{user.modality}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'ageSport')">

                            <md-subheader>Edad Deportiva</md-subheader>

                            {{user.ageSport}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'user_availability')">

                            <md-subheader>Disponibilidad de Tiempo</md-subheader>

                            {{user.availability}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'sport')">

                            <md-subheader>Otro Deporte</md-subheader>

                            {{user.sport}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'aboutMe')">

                            <md-subheader>Acerca de m&iacute;</md-subheader>

                            {{user.aboutMe}}

                        </div>
                        <div class="row" ng-show="visibleField('user_profile', 'pulsometer')">

                            <md-subheader>Puls&oacute;metro</md-subheader>

                            {{user.pulsometer}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'ppm')">

                            <md-subheader>Ppm</md-subheader>

                            {{user.ppm}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'vo2_running')">

                            <md-subheader>VO2 Running</md-subheader>

                            {{user.vo2Running}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'vo2_ciclismo')">

                            <md-subheader>VO2 Ciclismo</md-subheader>

                            {{user.vo2Ciclismo}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'potentiometer')">

                            <md-subheader>Potenci&oacute;metro</md-subheader>

                            {{user.potentiometer}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'bike')">

                            <md-subheader>Bicicleta</md-subheader>

                            {{user.bikes}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'shoes')">

                            <md-subheader>Zapato Deportivo</md-subheader>

                            {{user.shoes}}

                        </div>

                        <div class="row" ng-show="visibleField('user_profile', 'power')">

                            <md-subheader>Potencia</md-subheader>

                            {{user.power}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-divider inset></md-divider>
    <div flex="20" style="height: 800px; border: 1px solid #e1e1e1; margin: 5px">
        <div layout="column" layout-align="center center" style="margin: 34px;">
            <div flex layout="row" layout-align="space-around center" ng-if="userSession.typeUser == 'Atleta'">
                <div flex>
                    <img class="circular" data-ng-src="{{profileImageStar}}" style="height: 80px; width: 80px;">
                    <md-subheader>Estrella</md-subheader>
                </div>
                <div flex>
                    <img class="circular" data-ng-src="{{profileImageCoach}}" style="height: 80px; width: 80px;">
                    <md-subheader>Coach</md-subheader>
                </div>
            </div>
            <div flex layout="column" layout-align="center center">
                <div flex>
                    <md-button aria-label="Video" class="md-fab md-raised md-primary">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Video</md-tooltip>
                        <i class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
                    </md-button>
                </div>

                <md-subheader>{{availableVideo}} disponibles de {{coachAssignedPlan.videoCount}}</md-subheader>
                <div flex>
                    <md-button ng-disabled="availableMessage === coachAssignedPlan.messageCount" aria-label="Mensajes" class="md-fab md-raised  md-primary " ng-click="goMessages()">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Mensajes</md-tooltip>
                        <i class="fa fa-comments fa-lg"></i>
                    </md-button>
                    
                    <md-button class="md-fab md-mini md-button md-ink-ripple">4</md-button>
                </div>

                <md-subheader>{{availableMessage}} disponibles de {{coachAssignedPlan.messageCount}}</md-subheader>
                <div flex>
                    <md-button aria-label="Email" class="md-fab md-raised md-primary ">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Email</md-tooltip>
                        <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                    </md-button>
                </div>

                <md-subheader>{{availableEmail}} disponibles de {{coachAssignedPlan.emailCount}}</md-subheader>
                <div flex>
                    <md-button aria-label="Llamadas" class="md-fab md-raised md-primary ">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Llamadas</md-tooltip>
                        <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                    </md-button>
                </div>

                <md-subheader>{{availableCall}} disponibles de {{coachAssignedPlan.callCount}}</md-subheader>
                <div flex>
                    <md-button aria-label="Informes" class="md-fab md-raised md-primary">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Informes</md-tooltip>
                        <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                    </md-button>
                </div>
                <div flex>
                    <md-button aria-label="Script" class="md-fab md-raised  md-primary ">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Script</md-tooltip>
                        <i class="fa fa-user fa-lg"></i>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

</div>