<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>{{ 'CONTROL' | translate }}</span>
        </h2>
    </div>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom md-selected="tabIndexStar">
    <md-tab label="Planes"   md-on-select="initStarControl(false)" >
    </md-tab>
    <md-tab label="Interno" md-on-select="initStarControl(true)" >
        <md-tab-label>
            Interno
            <md-icon  ng-if="internalNotification"><i style="color: red" class="fa fa-bell-o" aria-hidden="true"></i></md-icon>
        </md-tab-label>
    </md-tab>
</md-tabs>
<div  ng-include src="'static/views/dashboard/control.html'"></div>