<div layout="row"><div flex ng-if="showVideo">
        <notification-icon animation="grow" count="videoReceivedCount">
            <md-button aria-label="Video" class="md-fab md-mini md-raised md-primary" ng-click="goVideos(userSessionTypeUserCoachEstrella)">
                <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Video</md-tooltip>
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </md-button>
        </notification-icon>
    </div>
    <div flex  ng-if="showScript">
        <notification-icon animation="grow" count="videoReceivedCount">
            <md-button  aria-label="Video" class="md-fab md-mini md-raised  md-primary " ng-click="goScript(userSessionTypeUserCoachEstrella)">
                <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Video</md-tooltip>
                <i class="fa fa-video-camera"></i>
            </md-button>
        </notification-icon>
    </div>
    <div flex ng-if="showChat">

        <notification-icon animation="grow" count="messagesReceivedCount">
            <md-button  aria-label="Mensajes" class="md-fab md-mini md-raised  md-primary " ng-click="goMessages(userSessionTypeUserCoachEstrella)">
                <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Mensajes</md-tooltip>
                <i class="fa fa-comments"></i>
            </md-button>
        </notification-icon>
    </div>
    <div flex ng-if="showEmail">
        <notification-icon animation="grow" count="emailReceivedCount">
            <md-button aria-label="Email" class="md-fab md-mini md-raised md-primary " ng-click="goEmail(userSessionTypeUserCoachEstrella)">
                <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Email</md-tooltip>
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </md-button>
        </notification-icon>

    </div>
    <div flex ng-if="showAudioMessage">

        <notification-icon animation="grow" count="audioReceivedCount">
            <md-button aria-label="Audio Mensajes" class="md-fab md-mini md-raised md-primary " ng-click="goAudioMessages(userSessionTypeUserCoachEstrella)">
                <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Audio Mensajes</md-tooltip>
                <i class="fa fa-microphone" aria-hidden="true"></i>
            </md-button>
        </notification-icon>
    </div>
</div>