<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Control</span>
        </h2>
    </div>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex">
    <md-tab label="Supervisor" md-on-select="initControlAthlete(userSessionTypeUserCoachInterno, planSelected.athleteUserId.userId)" > 
         <md-tab-label>
             Supervisor
      <md-icon  ng-if="supNotification"><i style="color: red" class="fa fa-bell-o" aria-hidden="true"></i></md-icon>
    </md-tab-label>
    </md-tab>
    <md-tab label="Estrella"   md-on-select="initControlAthlete(userSessionTypeUserCoachEstrella, planSelected.athleteUserId.userId)" >
            <md-tab-label>
             Estrella
      <md-icon  ng-if="starNotification"><i style="color: red" class="fa fa-bell-o" aria-hidden="true"></i></md-icon>
    </md-tab-label>
    </md-tab>
</md-tabs>
<div  ng-include src="'static/views/dashboard/control.html'"></div>