<div layout="column" style=" border: 1px solid #e1e1e1; height: 100%; min-height: 800px; border-radius: 25px;">
    <md-content >
        <md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex">
            <md-tab label="{{ 'PERSONAL' | translate }}" md-on-select="onTabChanges(0)">
                <md-content class="md-padding">
                    <md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex2">
                        <md-tab label="{{ 'COACH' | translate }}" md-on-select="onTabChanges2(0)">
                            <md-content class="md-padding">
                                <md-list-item ng-repeat="a in supervisorUserAssignedList" >
                                    <div ng-style="{{a.colourCoach}}" class="colour"></div>
                                    <md-button md-no-ink class="md-primary" ng-click="selectUserBySupervisor(a, a.coachUserId, 'coach')">{{a.coachUserId.fullName}}</md-button>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-content>
                        </md-tab>

                        <md-tab label="{{ 'ESTRELLA' | translate }}" md-on-select="onTabChanges2(1)">
                            <md-content class="md-padding">
                                <md-list-item ng-repeat="a in supervisorUserAssignedList" >
                                    <div ng-style="{{a.colourStar}}" class="colour"></div>
                                    <md-button md-no-ink class="md-primary" ng-click="selectUserBySupervisor(a, a.starUserId, 'star')">{{a.starUserId.fullName}}</md-button>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </md-tab>

            <md-tab label="{{ 'CLIENTE' | translate }}" md-on-select="onTabChanges(1)">
                <md-content class="md-padding">
                    <md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex2">
                        <md-tab label="{{ 'ATLETA' | translate }}" md-on-select="onTabChanges2(0)">
                            <md-content class="md-padding">
                                <md-list-item ng-repeat="a in supervisorUserAssignedList" >
                                    <div ng-style="{{a.colourAtlete}}" class="colour"></div>
                                    <md-button md-no-ink class="md-primary" ng-click="selectUserBySupervisor(a, a.atleteUserId, 'atleta')">{{a.atleteUserId.fullName}}</md-button>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-content>
                        </md-tab>
                        
                        <md-tab label="{{ 'COACH' | translate }}" md-on-select="onTabChanges2(1)">
                            <md-content class="md-padding">
                                <md-list-item ng-repeat="a in supervisorUserAssignedList" >
                                    <div ng-style="{{a.colourCoach}}" class="colour"></div>
                                    <md-button md-no-ink class="md-primary" ng-click="selectUserBySupervisor(a, a.coachUserId, 'coach')">{{a.coachUserId.fullName}}</md-button>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </md-tab>

            <md-tab label="{{ 'INBOX' | translate }}">
                <md-content class="md-padding">

                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>