<meta charset="utf-8"> 
<div>
    <div layout="row" layout-align="space-around center">
        <div layout="column" layout-align="center center">
            <span style="color: #0064F8">ACTIVIDAD</span>
            <div  class="c100 p70 small">
                <span style="color: #0064F8">5.5 hrs</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <span style="color: #0064F8">META 10 hrs</span>
        </div>
        <div layout="column" layout-align="center center">
            <span style="color: #0064F8">CALOR&Iacute;AS</span>
            <div  class="c100 p25 small">
                <span style="color: #0064F8">450 kcal</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <span style="color: #0064F8">META: 950 KCAL</span>
        </div>
        <div layout="column" layout-align="center center">
            <span style="color: #0064F8">DISTANCIA</span>
            <div  class="c100 p25 small">
                <span style="color: #0064F8">8.9 km</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <span style="color: #0064F8">META: 150 KM</span>
        </div>
        <div layout="column" layout-align="center center">
            <span style="color: #0064F8">VELOCIDAD MEDIA</span>
            <div  class="c100 p50 small">
                <span style="color: #0064F8">80 km/h</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <span style="color: #0064F8">META: 85 KM/H</span>
        </div>
    </div>
    <br /><br />
    <div>
        <div layout="row" style="color: #0064F8">
            <md-subheader>Filtros&nbsp;></md-subheader>
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="getReport(null,7,false)" name="day">7 dias</md-nav-item>
                <md-nav-item md-nav-click="getReport(null,28,true)" name="week">4 semanas</md-nav-item>
                <md-nav-item md-nav-click="getReport(null,168,false)" name="sixmonths">6 meses</md-nav-item>
                <md-nav-item md-nav-click="getReport(null,365,false)" name="twelvemonths">12 meses</md-nav-item>
            </md-nav-bar>
        </div>
    </div>   
    <center><h3></h3></center>
</div>
<div layout="column" >
    <div flex id="chart_div" class="chart">

    </div>
    <md-radio-group ng-model="chartSelected" md-no-ink >
        <div layout="row" layout-align="space-between center">
            <div layout="column" >

                <md-radio-button value="1" ng-click="getReport(1, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'ACTIVITIES' | translate }} </span></md-radio-button>
                <md-radio-button value="2" ng-click="getReport(2, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'TOTAL_CALORIES' | translate }}</span></md-radio-button>

            </div>
            <div layout="column" >

                <md-radio-button value="3" ng-click="getReport(3, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'TOTAL_DISTANCE' | translate }}</span></md-radio-button>
                <md-radio-button value="4" ng-click="getReport(4, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'MAX_HEART_RATE' | translate }}</span></md-radio-button>

            </div>
            <div layout="column" >

                <md-radio-button value="5" ng-click="getReport(5, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'AVERAGE_HEART_RATE' | translate }}</span></md-radio-button>
                <md-radio-button value="6" ng-click="getReport(6, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'AVERAGE_PACE' | translate }}</span></md-radio-button>

            </div>
            <div layout="column" >

                <md-radio-button value="7" ng-click="getReport(7, null, false, currentNavItem)" ><span style="color: #0064F8">{{ 'POTENCIA_MAXIMA' | translate }}</span></md-radio-button>

            </div>
        </div>
    </md-radio-group>

</div>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'gauge']});
</script>
