<div class="generic-container" ng-controller="SurveyController as ctrl">
    <span class="lead">Encuesta</span>
    <form class="form-horizontal">
   
        <div ng-repeat="question in survey">
             <div class="form-group">
            <label> {{question.questionId.name}}</label>
            <div ng-switch="question.questionId.dataType">
                <div ng-switch-when="text">
                    <input type="text" class="form-control input-sm" name="name">
                </div>
                <div ng-switch-when="number">
                    <input type="number" class="form-control input-sm" name="name">
                </div>
                <div ng-switch-when="select">
                    <select class="form-control input-sm">
                        <option ng-selected=""
                                ng-repeat="questionOption in question.questionId.questionOptionList"
                                value="{{questionOption.questionOptionId}}">
                            {{questionOption.name}}
                        </option>
                    </select>
                </div>
                <div ng-switch-when="checkbox">
                    <div ng-repeat="questionOption in question.questionId.questionOptionList">
                        <div class="checkbox">
                            <label><input type="checkbox"  value="{{questionOption.questionOptionId}}">{{questionOption.name}}</label>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="radio">
                    <div ng-repeat="questionOption in question.questionId.questionOptionList">
                        <div class="radio">
                            <label><input type="radio" name="option{{question.questionId.questionId}}" value="{{questionOption.questionOptionId}}">{{questionOption.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    
    </form>
    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <a  class="btn btn-block btn-info">
                Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</div>