<div style = "margin: 10px 0" ng-controller="calendarController as ctrl">
    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="tiempo">Tiempo</label>
            <div class="col-md-7">
                <input type="text" id="tiempo" class="form-control input-sm" placeholder="Ingrese el tiempo"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="distancia">Distancia</label>
            <div class="col-md-7">
                <input type="text" id="distancia" class="form-control input-sm" placeholder="Ingrese la distancia"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="calorias">Calor&iacute;as</label>
            <div class="col-md-7">
                <input type="text" id="calorias" class="form-control input-sm" placeholder="Ingrese las calorias"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="descripcion">Descripci&oacute;n</label>
            <div class="col-md-7">
                <input type="text" id="descripcion" class="form-control input-sm" placeholder="Ingrese la descripcion"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <input type="button" ng-click="ctrl.reset()" value="Guardar" class="btn btn-primary btn-sm">
            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Limpiar</button>
        </div>
    </div>

</div>