<script>
    compileAngularElement('#events-modal');
</script>

<% 	event.date_start = new Date(parseInt(event.start));
event.date_end = new Date(parseInt(event.end)); %>
<table id = "event-meta" class= "pull-left" style="width:80%">
    <tr><td>Fecha: </td>
        <td><%= event.date_start.getDate() %> <%= calendar.locale["m" + event.date_start.getMonth()] %> <%= event.date_start.getFullYear() %> <i class = "icon-time"></i></td>
    </tr>
    
    <tr>
        <td>Tipo de actividad:</td>
        <td><%= event.modality %></td>
    </tr>
    
    <tr>
        <td>Nombre:</td>
        <td><%= event.title %></td>
    </tr>
    
    <tr>
        <td>Descripci&oacute;n:</td>
        <td><textarea rows="5" style="width:80%"><%= event.activityDescription %></textarea></td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" ng-click="changeTrainingPow()"  class="btn btn-primary btn-sm">{{labelTrainingPow}}</button>
        </td>
    </tr>
</table>


<div style = "margin: 200px 0">
    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="tiempo">Tiempo</label>
            <div class="col-md-7">
                <input type="text" id="tiempo" class="form-control input-sm" placeholder="Ingrese el tiempo"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="distancia">Distancia</label>
            <div class="col-md-7">
                <input type="text" id="distancia" class="form-control input-sm" placeholder="Ingrese la distancia"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="calorias">Calor&iacute;as</label>
            <div class="col-md-7">
                <input type="text" id="calorias" class="form-control input-sm" placeholder="Ingrese las calorias"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-2 control-lable" for="descripcion">Descripci&oacute;n</label>
            <div class="col-md-7">
                <input type="text" id="descripcion" class="form-control input-sm" placeholder="Ingrese la descripcion"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <input type="button"  value="Guardar" class="btn btn-primary btn-sm">
        </div>
    </div>

</div>
