<div class="cal-row-fluid cal-row-head">
	<% _.each(days_name, function(name){ %>
		<div class="cal-cell1"><%= name %></div>
	<% }) %>
</div>
<table class="cal-month-box calendar-table" style="height:  100%;">
	<% for(i = 0; i < 6; i++) { %>
		<% if(cal.stop_cycling == true) break; %>
		<tr class="cal-row-fluid cal-before-eventlist">
                        <%= cal._day(i, day++) %>
                        <%= cal._day(i, day++) %>
                        <%= cal._day(i, day++) %>
                        <%= cal._day(i, day++) %>
                        <%= cal._day(i, day++) %>
                        <%= cal._day(i, day++) %>
                        <%= cal._day(i, day++) %>
		</tr>
	<% } %>
</table>
