<td  ondragstart="drag(event)" data-event-id="cal_<%= event.id %>" ondrop="drop(event)" draggable="true" ondragover="allowDrop(event)" data-event-date="<%= data_day %>" class="calendar-td cal-month-day <%= cls %> cal-cell1 cal-cell ui-droppable" data-cal-row="-day<%= day %>">
    <!--cal-month-day  <%= cls %> cal-cell1 cal-cell ui-droppable-->        
    <span class="add-left" data-event-id="cal_<%= event.id %>" data-event-date="<%= data_day %>" data-toggle="tooltip" title="<%= tooltip %>">+</span>

        <span data-event-id="cal_<%= event.id %>" data-event-date="<%= data_day %>" class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
        <% if (events.length > 0) { %>
        <div data-event-id="cal_<%= event.id %>" data-event-date="<%= data_day %>" class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
            <% _.each(events, function(event) { %>
            <a id="cal_<%= event.id %>" data-event-id="cal_<%= event.id %>" data-event-date="<%= data_day %>" href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['className'] %>"
               class="pull-left event-back event " data-toggle="tooltip"
               title="<%= event.title %>">
                <div data-event-id="cal_<%= event.id %>" data-event-date="<%= data_day %>" style="width: 22px">
                    <img src="static/img/<%= event['className'] %>" alt="<%= event['className'] %>"/>
                </div>
                <font data-event-id="cal_<%= event.id %>" data-event-date="<%= data_day %>" class="event-font"><%= event.title %></font>
            </a>

            <% }); %>
        </div>
        <% } %>
</td>