<!DOCTYPE html>

<!-- define angular app -->
<html>

    <head>
        <!-- SCROLLS -->
        <link rel="stylesheet" href="static/css/angular-material.min.css" />
        <link rel="stylesheet" href="static/css/font-awesome.min.css" />
        <link rel="stylesheet" href="static/css/app.css" >
        <link rel="stylesheet" href="static/css/md-data-table.min.css" >
        <link rel="stylesheet" href="static/css/angular-notification-icons.min.css" >
        <link rel="stylesheet" href="static/css/style.css" >
        <link rel="stylesheet" href="static/css/avada-10.css" >
        <link rel="stylesheet" href="static/css/jquery-ui.min.css" >
        <link rel="stylesheet" href="static/css/circle.css">
        <link rel="stylesheet" type="text/css" href="static/css/ang-accordion.css">
        <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <meta charset="UTF-8" >
    </head>

    <!-- define angular controller -->
    <body ng-cloak ng-controller="mainController" id="trainingApp" class="preloader">

        <!--<div class="fusion-header-wrapper" ng-if="userSession.typeUser != userSessionTypeUserAtleta">
            <div class="fusion-header-v3 fusion-logo-left fusion-sticky-menu- fusion-sticky-logo- fusion-mobile-logo- fusion-mobile-menu-design-modern ">

                <div class="fusion-secondary-header">
                    <div class="fusion-row"> 
                        <div class="fusion-alignright">
                      
                                        <a class="fusion-logo-link" href="javascript:location.href=$wordPressContextPath">
                                            <img src="static/img/logo.jpg" width="205" height="50" alt="Custom Pro Training" class="fusion-logo-1x fusion-standard-logo">
                                        </a>
                       
                        </div>
                        <div class="fusion-alignright">
                            <div class="fusion-secondary-menu">
                                <ul id="menu-top-menu" class="menu">
                                    <li ng-if="planSelected.external && userSession.typeUser == userSessionTypeUserAtleta" id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18">
                                        <a href="javascript:void(0)" style="text-decoration: none !important" ng-click="viewInvitationDialog()">
                                            <i ng-show="invitation==null" class="fa fa-bell fa-lg" aria-hidden="true"></i>
                                            <span class="menu-text" style="color: red" ng-show="invitation!=null">
                                                Tiene una notificaci&oacute;n
                                            <img  data-ng-src="static/img/bell-icon.png" title="Notificaciones" style="height: 30px; width: 30px; padding-top: 6px"/>                             
                                            </span>
                                        </a>
                                    </li>
                                     <li ng-show="planSelected.external && userSession.typeUser == userSessionTypeUserAtleta" id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11">
                                        <a href="javascript:void(0)" style="text-decoration: none !important" ng-click="offPlanDialog($event)">
                                            <span class="menu-text">
                                                <i class="fa fa-thumbs-down" aria-hidden="true">
                                                   Salir del Plan  
                                                </i> 
                                            </span>
                                        </a>
                                    </li>
                                     <li id="menu-item-274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274">
                                        <a onclick="" style="text-decoration:none; line-height: 4px !important">
                                            <img data-ng-src="{{userSession.profilePhotoBase64}}" style="height: 45px; width: 45px;">

                                        </a>
                                    </li>
                                    <li id="menu-item-275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275">
                                        <a onclick="" style="text-decoration:none !important">
                                            <span class="menu-text">Bienvenido {{userLogin}}</span>
                                        </a>
                                    </li>
                                    <li id="menu-item-276" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-276">
                                        <a  onclick="" style="text-decoration:none !important">
                                      <span class="menu-text">
                                                {{roleName}}</span>
                                        </a>
                                       
                                    </li>
                                    <li id="menu-item-369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369">
                                        <a href="javascript:location.href=$wordPressContextPath+'/mi-cuenta/'" style="text-decoration:none !important">
                                            <span class="menu-text">
                                                Mi Cuenta
                                            </span>
                                        </a>
                                    </li>
                                    <li style="width: 200px" id="menu-item-369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369">
                                        <a href="#" ng-click="logout()" style="text-decoration:none !important">
                                            <span class="menu-text">
                                                <i class="fa fa-sign-in" aria-hidden="true">
                                                </i> Cerrar Sesi&oacute;n
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fusion-header-sticky-height" style="height: 77px; display: none; overflow: visible;"></div>
                <div class="fusion-header" style="height: 77px; overflow: visible;">
                    <div class="fusion-row" style="padding-top: 0px; padding-bottom: 0px;">
                        <div class="fusion-logo" data-margin-top="10px" data-margin-bottom="10px" data-margin-left="0px" data-margin-right="0px" style="margin-top: 10px; margin-bottom: 10px;">
                            <a class="fusion-logo-link" href="javascript:location.href=$wordPressContextPath">
                                <img src="static/img/logo.jpg" width="205" height="65" alt="Custom Pro Training" class="fusion-logo-1x fusion-standard-logo">
                            </a>
                        </div>
                        <div class="fusion-main-menu" style="overflow: visible">
                            <ul id="menu-menu-principal" class="fusion-menu">
                                
                                <li ng-repeat="m in moduleList" style="overflow: visible" id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-15 menu_parent fusion-dropdown-menu">
                                    <a style="text-decoration:none !important"  ng-if="m.optionCollection.length <= 1" href="{{m.optionCollection[0].url}}" aria-haspopup="true" style="line-height: 60px; height: 60px;">
                                        <span class="menu-text">{{m.optionCollection[0].name}}</span>
                                    </a>
                                    <a style="text-decoration:none !important" ng-if="m.optionCollection.length > 1" href="javascript:this" aria-haspopup="true" style="line-height: 60px; height: 60px;">
                                        <span class="menu-text">{{m.name}}</span>
                                    </a>
                                    <ul class="sub-menu" ng-if="m.optionCollection.length > 1">
                                        <li ng-repeat="o in m.optionCollection" id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79 fusion-dropdown-submenu">
                                            <a style="text-decoration:none !important" href="{{o.url}}">
                                                <span class="">{{o.name}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li style="width: 130px"  style="overflow: visible" id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16 menu_parent fusion-dropdown-menu">
                                    <a style="text-decoration:none !important" href="#" aria-haspopup="true" style="line-height: 60px; height: 60px;">
                                        <span class="menu-text"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>			<div class="fusion-mobile-menu-icons">
                            <a href="#" class="fusion-icon fusion-icon-bars"></a>


                            <a href="http://181.143.227.220:4321/cpt/carro/" class="fusion-icon fusion-icon-shopping-cart"></a>
                        </div>


                        <div class="fusion-mobile-nav-holder">
                            <ul id="menu-menu-principal" class="fusion-menu">
                                <li id="mobile-menu-item-15" class="fusion-mobile-nav-item" style="">
                                    <span href="#" aria-haspopup="true" class="fusion-open-submenu"></span>
                                    <a href="#"><span class="menu-text">Atletas</span></a>
                                    <ul class="sub-menu" style="display: none;">
                                        <li id="mobile-menu-item-79" class="fusion-mobile-nav-item" style="">
                                            <a href="http://181.143.227.220:4321/cpt/plataforma-para-atletas/">
                                                <span class="">Usa Nuestra Plataforma</span>
                                            </a></li>
                                        <li id="mobile-menu-item-329" class="fusion-mobile-nav-item" style="">
                                            <a href="http://181.143.227.220:4321/cpt/plan-de-entrenamiento-deporte/">
                                                <span class="">Adquiere nuestro Plan de Entrenamiento</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-16" class="fusion-mobile-nav-item" style="">
                                    <span href="#" aria-haspopup="true" class="fusion-open-submenu"></span>
                                    <a href="#">
                                        <span class="menu-text">Coaches</span>
                                    </a>
                                    <ul class="sub-menu" style="display: none;">
                                        <li id="mobile-menu-item-82" class="fusion-mobile-nav-item" style="">
                                            <a href="http://181.143.227.220:4321/cpt/plataforma-para-coaches/">
                                                <span class="">Usa Nuestra Plataforma</span>
                                            </a></li>
                                        <li id="mobile-menu-item-23" class="fusion-mobile-nav-item" style="">
                                            <a href="#"><span class="">Seguimiento de mis atletas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-19" class="fusion-mobile-nav-item" style="">
                                    <a href="#">
                                        <span class="menu-text">Cont&aacute;ctenos</span>
                                    </a>
                                </li></ul></div>

                    </div>
                </div>
            </div>
            <div class="fusion-clearfix"></div>
        </div>  -->
       
            <div layout="row" layout-align="center" ng-if="userSession.typeUser == userSessionTypeUserAtleta">
                <div flex="18" style="background: #1C2127;">
                    <div flex ng-include src="'static/views/dashboard/userPanel.html'"></div> 
                </div>
                <div flex="75" layout="column">
                    <div layout="row" layout-padding layout-align="end center">        
                        <md-menu md-position-mode="target-right bottom">
                            <md-button  id="bell_notification" aria-label="Open notification menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon md-menu-origin>
                                    <img src="static/img/bell.png" />
                                </md-icon>
                                <div ng-if="listNotification.length > 0" class="circle_notification">{{listNotification.length}}</div>
                            </md-button>
                            <md-menu-content md-position-mode="target-right bottom" layout-padding style="background: #1C2127;">
                                <h3 style="color: #00E8E8 !important;">NOTIFICACIONES</h3>
                                <span style="color: #ffffff;" ng-if="listNotification.length == 0">No hay notificaciones disponibles</span>
                                <md-list class="md-dense" flex>
                                    <md-list-item ng-repeat="n in listNotification" class="md-3-line"  ng-click="verModulo(n.module)" >
                                        <img ng-if="n.roleId == userSessionTypeUserCoachInterno" data-ng-src="{{asesorImage}}"  class="md-avatar"> 
                                        <img ng-if="n.roleId == userSessionTypeUserCoachEstrella" data-ng-src="{{starImage}}"  class="md-avatar border">
                                        <div class="md-list-item-text">
                                            <h3 style="color: #ffffff;" ng-if="n.roleId == userSessionTypeUserCoachInterno">{{userSession.planSelected.coachUserId.fullName}}</h3>
                                            <h3 style="color: #ffffff;" ng-if="n.roleId == userSessionTypeUserCoachEstrella">{{userSession.planSelected.starUserId.fullName}}</h3>
                                            <p style="color: #ffffff;">Te envío un mensaje de {{n.module}}</p>
                                            <a href="javascript:void(0)" style="color: #AAFD6F">Ver {{n.module}}</a>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-menu-content>
                        </md-menu>
                        <span class="blue">BIENVENIDO</span>
                        <span class="blue" style="text-transform: uppercase; font-weight: bold"> {{userLogin}}</span>
                        <img data-ng-src="{{profileImage}}" class="circular" style="height: 67px; width: 67px;">
                        <md-menu md-position-mode="target-right bottom">
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon md-menu-origin>
                                <i class="material-icons" id="apps_icon">apps</i>
                                </md-icon>
                            </md-button>
                            <md-menu-content width="2" style="background: #1C2127;">
                                <md-menu-item  style="color: #00E8E8;">
                                    <md-button ng-click="account()"><md-icon md-menu-align-target><i style="color: #666666" class="fa fa-user fa-lg" aria-hidden="true"></i></md-icon> <span md-menu-align-target>MI CUENTA</span></md-button>
                                </md-menu-item>
                                <md-menu-item style="color: #00E8E8;">
                                    <md-button ng-click="logout()"><md-icon md-menu-align-target><i style="color: #666666" class="fa fa-sign-out fa-lg" aria-hidden="true"></i></md-icon> <span md-menu-align-target>CERRAR SESIÓN</span></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <md-divider></md-divider>
                    <div ng-view ng-show="appReady" ></div> 
                    <div id="footer" layout="row" style="background: #666666; color:#ffffff;" layout-align="center center">
                           Copyright 2016 Custom Pro Training | All Rights Reserved
                    </div>
                </div>
            </div>
        <div layout="column" layout-align="center center" ng-if="userSession.typeUser != userSessionTypeUserAtleta">
            <div flex>
                <div ng-view ng-show="appReady" ></div> 
            </div>

        </div>
        <!-- SPELLS -->
        <script type="text/javascript" data-main="static/js/run-custom-training"
        src="static/js/lib/require.js"></script>
        <script type="text/javascript" src="static/js/lib/jquery.min.js"></script>  
        <script type="text/javascript" src="static/js/lib/bootstrap.min.js"></script>
    </body>

</html>
