<!DOCTYPE html>
 
<!-- define angular app -->
<html>
 
    <head>
        <!-- SCROLLS -->
        <link rel="stylesheet" href="static/css/grids-responsive.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/css/font-awesome.min.css" />
        <link rel="stylesheet" href="static/css/pure.css">
        <link rel="stylesheet" href="static/css/app.css" >
        <link rel="stylesheet" href="static/css/flaticon.css">
        <link rel="stylesheet" href="static/css/calendar.css">
    </head>
 
    <!-- define angular controller -->
    <body class="pure-skin-theme" ng-controller="mainController" id="trainingApp">
 
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://181.143.227.220:8081/cpt">Custom Pro Training</a>
                </div>
                
                <div style="position:relative;top:10px;font-size:22px;width:500px;left:300px;height:30px">Bienvenido {{userLogin}}</div>
                
                <ul class="nav navbar-nav navbar-right" style="position:relative;top:-25px">
                    <li><a href="#calendar"><i class="fa fa-calendar"></i> Calendario</a></li>
                    <li role="presentation" class="dropdown" uib-dropdown>
                        <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> 
                            Cuenta
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu> 
                            <li><a href="#data-person">Configuración de Perfil</a></li> 
                             <li><a href="#conf-account">Configuración de Cuenta</a></li> 
                        </ul>
                    </li>
                    <li><a class="logout" href="#" ng-click="logout()"><i class="fa fa-sign-out"></i> Cerrar Sesión</a></li>
                    
                </ul>
            </div>
        </nav>
 
        <div id="main" class="container">
            <div class="alert" id="messages" ng-show="showSuccessAlert">
                <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">x</button> <strong>{{successTextAlert}}</strong>
            </div>
            <!-- angular templating -->
            <!-- this is where content will be injected -->
            <div ng-view style="" ></div>
 
        </div>
 
        <footer class="text-center">
            <p>View the tutorial on <a href="http://scotch.io/tutorials/javascript/single-page-apps-with-angularjs-routing-and-templating">Scotch.io</a></p>
 
            <p>View a tutorial on <a href="http://scotch.io/tutorials/javascript/animating-angularjs-apps-ngview">Animating Your Angular Single Page App</a></p>
        </footer>
        <!-- SPELLS -->
        <script type="text/javascript" data-main="static/js/run-custom-training"
        src="static/js/lib/require.js"></script>
        <script type="text/javascript" src="static/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/lib/bootstrap.min.js"></script>
    </body>
 
</html>