<meta charset="utf-8">
<md-dialog aria-label="Detalle Serie" style="width: 500px">
    <form name="formActivity" novalidate>
        <div class="md-toolbar-tools">
            <h2 style="color: #0064F8; font-weight: bold">Detalle Serie</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i style="color: #AAFD6F" class="fa fa-times" aria-hidden="true"></i>
            </md-button>
        </div>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row"> 
                    <div flex>
                        <md-input-container class="md-block" >

                            <label>Fecha</label>
                            <input type="text" ng-model="serie.workDate" id="workoutDate" name="workoutDate" />

                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block" >
                            <label>Número de series</label>
                            <input type="text" ng-model="serie.numSeries" id="numSeries" name="numSeries" />

                        </md-input-container>
                    </div>
                </div>
                <div layout="row" >
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Tiempo(minutos)</label>
                            <input type="text" ng-model="serie.serieTime" id="serieTime" name="serieTime" />
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" >
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Zona</label>
                            <input type="text" ng-model="serie.numZone" id="numZone" name="numZone" />

                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <md-radio-group ng-model="trainingPow">

                        <md-radio-button ng-model="trainingPow" ng-click="changeTrainingPow(1)" value="1" class="md-primary">Entrenamiento por ppm</md-radio-button>
                        <md-radio-button ng-model="trainingPow" ng-click="changeTrainingPow(2)" value="2"> Entrenamiento por potencia </md-radio-button>

                    </md-radio-group>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">  
            <md-button class="md-raised" ng-click="cancel()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>