<meta charset="utf-8">
<md-dialog aria-label="Detalle Serie" style="width: 550px">
    <form name="formActivity" novalidate>
        <div class="md-toolbar-tools">
            <h2 style="color: #0064F8; font-weight: bold">Detalle Serie</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i style="color: #AAFD6F" class="fa fa-times" aria-hidden="true"></i>
            </md-button>
        </div>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row"> 
                    <div flex>
                        <md-input-container class="md-block" >

                            <label>Fecha</label>
                            <input type="text" ng-model="series[0].workDate" id="workoutDate" name="workoutDate" />

                        </md-input-container>
                    </div>
                </div>
                <div layout="row"> 
                    <div flex>
                            <label>Descripción</label>
                            <md-input-container ng-repeat="serie in series" class="md-block" >
                                <span>{{serie.description}}</span>
                            </md-input-container>
                    </div>
                </div>
                <div layout="row"> 
                    <div flex>
                        <md-input-container class="md-block" >

                            <label>Descanso</label>
                            <input type="text" ng-model="series[0].workDate" id="workoutDate" name="workoutDate" />

                        </md-input-container>
                    </div>
                </div>
              
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">  
            <md-button class="md-raised" ng-click="cancel()">Aceptar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>