<meta charset="utf-8">
<md-dialog aria-label="Detalle Serie" style="width: 550px">
    <form name="formActivity" novalidate>
        <div class="md-toolbar-tools">
            <h2 style="color: #0064F8; font-weight: bold">Descripción del Entrenamiento</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i style="color: #AAFD6F" class="fa fa-times" aria-hidden="true"></i>
            </md-button>
        </div>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row"> 
                    <div flex>
                            <label>Fecha</label>
                        <md-input-container class="md-block" >

                            <span>{{series[0].workDate}}</span>

                        </md-input-container>
                    </div>
                </div>
                    <div layout="row"> 
                    <div flex>
                        <label>Activación Neuromuscular</label>
                        <md-input-container class="md-block" >
                            <span>{{series[0].warmUpTime}}:00 minutos</span>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row"> 
                    <div flex>
                        <label>Bloque Principal</label>
                        <md-input-container ng-repeat="serie in series" class="md-block" >
                            <span>{{serie.description}}<span style="font-size: 12px">{{serie.ppmPaceDescription}}</span></span>
                            <span>{{serie.restSerieDescription}}</span>
                        </md-input-container>
                    </div>
                </div>
            
                <div layout="row"> 
                    <div flex>
                        <label>Vuelta a la Cama</label>
                        <md-input-container class="md-block" >
                            <span>{{series[0].pullDownTime}}:00 minutos</span>
                        </md-input-container>
                    </div>
                </div>
                  <div layout="row"> 
                    <div flex>
                        <label>Tiempo Total de la Sesión</label>
                        <md-input-container class="md-block" >
                            <span>{{totalTimeSesion}} minutos</span>
                        </md-input-container>
                    </div>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">  
            <md-button class="md-raised" ng-click="cancel()">Aceptar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>